div[data-hx-root] div[data-hx-radio],
div[data-hx-portal-root] div[data-hx-radio] {
    /** add :focus-within to lift-up the priority */

    &[data-hx-disabled],
    &[data-hx-disabled][data-hx-radio-checked] {
        &:focus-within,
        &:not(:focus-within) {
            > span[data-hx-radio] {
                --hx-bg-color-this-default: var(--hx-bg-color-disabled);
                --hx-color-this-default: var(--hx-text-color-disabled);
                --hx-border-color-this-default: var(--hx-border-color-disabled);

                cursor: not-allowed;

                &:hover,
                &[data-hx-hover],
                &:has(+ span[data-hx-label]:hover) {
                    --hx-color-this-default: var(--hx-text-color-disabled);
                    --hx-border-color-this-default: var(--hx-border-color-disabled);

                    + span[data-hx-label] {
                        --hx-color-this-default: var(--hx-text-color-disabled);
                    }
                }

                + span[data-hx-label] {
                    --hx-color-this-default: var(--hx-text-color-disabled);
                    cursor: not-allowed;
                }
            }
        }
    }

    &[data-hx-disabled][data-hx-radio-checked] {
        &:focus-within,
        &:not(:focus-within) {
            > span[data-hx-radio] {
                &:hover,
                &[data-hx-hover],
                &:has(+ span[data-hx-label]:hover) {
                    > span[data-hx-radio-curtain] {
                        --hx-bg-color-this-default: var(--hx-text-color-disabled);
                    }
                }

                > span[data-hx-radio-curtain] {
                    --hx-bg-color-this-default: var(--hx-text-color-disabled);
                }
            }
        }
    }
}
