div[data-hx-root] div[data-hx-textarea-box],
div[data-hx-portal-root] div[data-hx-textarea-box] {
    > span[data-hx-textarea-placeholder] {
        --hx-display-this-default: block;

        --hx-color-this-default: var(--hx-text-color-placeholder);

        --hx-width-this-default: 100%;
        --hx-min-height-this-default: unset;
        --hx-height-this-default: 100%;
        /*--hx-line-height-this-default: var(--hx-line-height-100);*/

        --hx-padding-x-this-default: var(--hx-text-indent);
        --hx-padding-y-this-default: var(--hx-padding-y-text-100-border);

        --hx-border-width-this-default: var(--hx-border-width-1);
        --hx-border-color-this-default: transparent;
        --hx-border-style-this-default: solid;

        position: absolute;
        pointer-events: none;
    }
}
