div[data-hx-root] div[data-hx-textarea-box],
div[data-hx-portal-root] div[data-hx-textarea-box] {
    > textarea[data-hx-textarea] {
        --hx-display-this-default: block;

        --hx-color-this-default: var(--hx-text-color);
        --hx-bg-color-this-default: transparent;

        --hx-min-height-this-default: var(--hx-height-100);
        --hx-height-this-default: var(--hx-height-100);
        --hx-line-height-this-default: var(--hx-line-height-100);

        --hx-padding-x-this-default: var(--hx-text-indent);
        --hx-padding-y-this-default: var(--hx-padding-y-text-100-border);

        --hx-border-width-this-default: var(--hx-border-width-1);
        --hx-border-color-this-default: var(--hx-border-color-atomic);
        --hx-border-style-this-default: solid;
        --hx-border-radius-this-default: var(--hx-border-radius-atomic);

        --hx-transition-this-default: var(--hx-transition-all);
    }
}
