div[data-hx-root] div[data-hx-textarea-box],
div[data-hx-portal-root] div[data-hx-textarea-box] {
    > textarea[data-hx-textarea] {
        &[readonly],
        &[data-hx-readonly][readonly] {
            --hx-bg-color-this-default: var(--hx-bg-color-readonly);
            --hx-color-this-default: var(--hx-text-color-readonly);
            --hx-border-color-this-default: var(--hx-border-color-readonly);

            &:hover {
                --hx-border-color-this-default: var(--hx-border-color-readonly);
            }

            &:focus,
            &:focus:hover {
                --hx-border-color-this-default: var(--hx-border-color-readonly);
            }
        }
    }
}
