div[data-hx-root],
div[data-hx-portal-root] {
    --hx-size-012: 12px;
    --hx-size-013: 13px;
    --hx-size-014: 14px;
    --hx-size-020: 20px;
    --hx-size-040: 40px;
    --hx-size-060: 60px;
    --hx-size-080: 80px;
    --hx-size-100: 100px;
    --hx-size-120: 120px;
    --hx-size-150: 150px;
    --hx-size-200: 200px;
    --hx-size-300: 300px;
    --hx-size-400: 400px;
}
