div[data-hx-root],
div[data-hx-portal-root] {
    --hx-min-width-xs: var(--hx-size-100);
    --hx-min-width-sm: var(--hx-size-120);
    --hx-min-width-md: var(--hx-size-150);
    --hx-min-width-lg: var(--hx-size-200);
    --hx-min-width-xl: var(--hx-size-300);

    --hx-width-xs: var(--hx-size-100);
    --hx-width-sm: var(--hx-size-120);
    --hx-width-md: var(--hx-size-150);
    --hx-width-lg: var(--hx-size-200);
    --hx-width-xl: var(--hx-size-300);

    --hx-max-width-xs: var(--hx-size-100);
    --hx-max-width-sm: var(--hx-size-120);
    --hx-max-width-md: var(--hx-size-150);
    --hx-max-width-lg: var(--hx-size-200);
    --hx-max-width-xl: var(--hx-size-300);
}
