div[data-hx-root],
div[data-hx-portal-root] {
    /* Generic horizontal margin for containers */
    --hx-margin-x-0: 0;
    --hx-margin-x-2: 2px;
    --hx-margin-x-4: 4px;
    --hx-margin-x-6: 6px;
    --hx-margin-x-8: 8px;
    --hx-margin-x-10: 10px;
    --hx-margin-x-12: 12px;
    --hx-margin-x-16: 16px;
    --hx-margin-x-20: 20px;
    --hx-margin-x-24: 24px;
    --hx-margin-x-28: 28px;
    --hx-margin-x-32: 32px;
    --hx-margin-x-36: 36px;
    --hx-margin-x-40: 40px;

    /* Generic vertical margin for containers */
    --hx-margin-y-0: 0;
    --hx-margin-y-2: 2px;
    --hx-margin-y-4: 4px;
    --hx-margin-y-6: 6px;
    --hx-margin-y-8: 8px;
    --hx-margin-y-10: 10px;
    --hx-margin-y-12: 12px;
    --hx-margin-y-16: 16px;
    --hx-margin-y-20: 20px;
    --hx-margin-y-24: 24px;
    --hx-margin-y-28: 28px;
    --hx-margin-y-32: 32px;
    --hx-margin-y-36: 36px;
    --hx-margin-y-40: 40px;

    --hx-margin-x-none: var(--hx-margin-x-0);
    --hx-margin-x-xs: var(--hx-margin-x-4);
    --hx-margin-x-sm: var(--hx-margin-x-8);
    --hx-margin-x-md: var(--hx-margin-x-12);
    --hx-margin-x-lg: var(--hx-margin-x-16);
    --hx-margin-x-xl: var(--hx-margin-x-20);

    --hx-margin-y-none: var(--hx-margin-y-0);
    --hx-margin-y-xs: var(--hx-margin-y-4);
    --hx-margin-y-sm: var(--hx-margin-y-8);
    --hx-margin-y-md: var(--hx-margin-y-12);
    --hx-margin-y-lg: var(--hx-margin-y-16);
    --hx-margin-y-xl: var(--hx-margin-y-20);

    --hx-margin-t-none: var(--hx-margin-y-0);
    --hx-margin-t-xs: var(--hx-margin-y-4);
    --hx-margin-t-sm: var(--hx-margin-y-8);
    --hx-margin-t-md: var(--hx-margin-y-12);
    --hx-margin-t-lg: var(--hx-margin-y-16);
    --hx-margin-t-xl: var(--hx-margin-y-20);

    --hx-margin-r-none: var(--hx-margin-x-0);
    --hx-margin-r-xs: var(--hx-margin-x-4);
    --hx-margin-r-sm: var(--hx-margin-x-8);
    --hx-margin-r-md: var(--hx-margin-x-12);
    --hx-margin-r-lg: var(--hx-margin-x-16);
    --hx-margin-r-xl: var(--hx-margin-x-20);

    --hx-margin-b-none: var(--hx-margin-y-0);
    --hx-margin-b-xs: var(--hx-margin-y-4);
    --hx-margin-b-sm: var(--hx-margin-y-8);
    --hx-margin-b-md: var(--hx-margin-y-12);
    --hx-margin-b-lg: var(--hx-margin-y-16);
    --hx-margin-b-xl: var(--hx-margin-y-20);

    --hx-margin-l-none: var(--hx-margin-x-0);
    --hx-margin-l-xs: var(--hx-margin-x-4);
    --hx-margin-l-sm: var(--hx-margin-x-8);
    --hx-margin-l-md: var(--hx-margin-x-12);
    --hx-margin-l-lg: var(--hx-margin-x-16);
    --hx-margin-l-xl: var(--hx-margin-x-20);
}
