div[data-hx-root] div[data-hx-table] > div[data-hx-table-content],
div[data-hx-portal-root] div[data-hx-table] > div[data-hx-table-content] {
    &[data-hx-table-content-sticky] > div[data-hx-table-header-cell] {
        position: var(--hx-table-cell-sticky, relative);
        top: var(--hx-table-cell-sticky-top, unset);
        inset-block-start: var(--hx-table-cell-sticky-top, unset);
        left: var(--hx-table-cell-sticky-left, unset);
        inset-inline-start: var(--hx-table-cell-sticky-left, unset);
        right: var(--hx-table-cell-sticky-right, unset);
        inset-inline-end: var(--hx-table-cell-sticky-right, unset);
        z-index: var(--hx-table-cell-z-index, revert);
    }

    > div[data-hx-table-header-cell] {
        --hx-display-this-default: flex;

        --hx-font-weight-this-default: var(--hx-font-weight-semi-bold);
        --hx-color-this-default: var(--hx-text-color);
        --hx-bg-color-this-default: color-mix(in srgb, var(--hx-bg-color) 80%, lightgray);

        --hx-min-height-this-default: var(--hx-height-100);
        --hx-line-height-this-default: var(--hx-line-height-100);
        --hx-align-items-this-default: center;

        grid-column: var(--hx-table-cell-column-this);
        grid-row: var(--hx-table-cell-row-this);

        &[data-hx-table-assist-empty] {
            --hx-bg-color-this-default: var(--hx-bg-color-empty-table-cell);
        }

        /** set to header height when only one row in header */

        &[data-hx-table-cell-block-end][data-hx-table-cell-start-row="1"][data-hx-table-cell-start-column="1"]:not(:has(~ div[data-hx-table-header-cell]:not([data-hx-table-cell-block-end]))) {
            --hx-min-height-this-default: var(--hx-height-header-100);

            ~ div[data-hx-table-header-cell] {
                --hx-min-height-this-default: var(--hx-height-header-100);
            }
        }

        > span[data-hx-label] {
            --hx-font-weight-this-default: var(--hx-font-weight-semi-bold);
        }
    }
}
