div[data-hx-portal-root] div[data-hx-overlay] {
    &[role=alert] {
        --hx-margin-x-this-default: auto;
        --hx-margin-y-this-default: auto;

        &[data-hx-width] {
            &[data-hx-width=xs] {
                --hx-width-this: 30vw;
            }

            &[data-hx-width=sm] {
                --hx-width-this: 40vw;
            }

            &[data-hx-width=md] {
                --hx-width-this: 50vw;
            }

            &[data-hx-width=lg] {
                --hx-width-this: 60vw;
            }

            &[data-hx-width=xl] {
                --hx-width-this: 70vw;
            }
        }
    }

    &[data-hx-alert] {
        > div[data-hx-alert-container] > div[data-hx-alert-content] > span[data-hx-alert-content-icon] > svg {
            --hx-width-this-default: var(--hx-line-height-100);
            --hx-height-this-default: var(--hx-line-height-100);
        }
    }
}
