div[data-hx-root] div[data-hx-separator],
div[data-hx-portal-root] div[data-hx-separator] {
    &[data-hx-separator-size=xs] {
        --hx-width-this-default: var(--hx-separator-secondary-size-xs);
    }

    &[data-hx-separator-size=sm] {
        --hx-width-this-default: var(--hx-separator-secondary-size-sm);
    }

    &[data-hx-separator-size=md] {
        --hx-width-this-default: var(--hx-separator-secondary-size-md);
    }

    &[data-hx-separator-size=lg] {
        --hx-width-this-default: var(--hx-separator-secondary-size-lg);
    }

    &[data-hx-separator-size=xl] {
        --hx-width-this-default: var(--hx-separator-secondary-size-xl);
    }
}
