div[data-hx-portal-root] div[data-hx-popup][data-hx-popup-for-actions] {
    --hx-display-this-default: flex;
    --hx-border-width-this-default: var(--hx-border-width-0);

    flex-direction: column;

    > div[data-hx-actions-options] {
        --hx-display-this-default: flex;
        --hx-width-this-default: 100%;

        flex-direction: column;

        > div[data-hx-separator] {
            --hx-margin-y-this: var(--hx-margin-y-2);
        }

        > button[data-hx-button] {
            --hx-justify-content-this-default: start;
            --hx-width-this-default: 100%;

            flex-shrink: 0;
        }
    }
}
