div[data-hx-root] div[data-hx-dtp],
div[data-hx-portal-root] div[data-hx-dtp] {
    &:hover {
        --hx-border-color-this-default: var(--hx-border-color-hover);

        > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=calendar] {
            --hx-color-this-default: var(--hx-border-color-hover);
            opacity: 1;
        }

        > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=clear] {
            --hx-color-this-default: var(--hx-color-hover-danger);
            opacity: 1;
        }
    }
}
