div[data-hx-portal-root] div[data-hx-popup][data-hx-popup-for-dtp] > div[data-hx-dtp-panel] {
    > div[data-hx-dtp-panel-months] {
        --hx-display-this-default: grid;

        --hx-bg-color-this-default: var(--hx-bg-color);

        --hx-height-this-default: calc(var(--hx-dtp-days-panel-height) + var(--hx-dtp-time-panel-height));
        --hx-width-this-default: calc(100% - var(--hx-padding-x-12) * 2);
        --hx-padding-y-this-default: var(--hx-padding-y-4);

        --hx-transition-this-default: none;

        position: absolute;
        grid-template-columns: repeat(3, 1fr);
        row-gap: var(--hx-gap-y-4);
        column-gap: var(--hx-gap-x-4);

        top: calc(var(--hx-padding-x-8) + var(--hx-dtp-header-height));
        inset-block-start: calc(var(--hx-padding-x-8) + var(--hx-dtp-header-height));

        opacity: 0;
        pointer-events: none;
        overflow: hidden;

        &[data-hx-dtp-panel-months-visible=show] {
            opacity: 1;
            pointer-events: auto;
        }

        > span[data-hx-label] {
            --hx-justify-content-this-default: center;

            &[data-hx-dtp-panel-month-gregory] {
                --hx-color-this-default: var(--hx-text-color);
                --hx-border-radius-this-default: var(--hx-border-radius-atomic);
                --hx-transition-this-default: none;

                position: relative;
                cursor: pointer;

                &[data-hx-dtp-panel-month-bc] {
                    --hx-color-this-default: var(--hx-text-color-disabled);
                }

                &[data-hx-dtp-panel-month-y10k] {
                    --hx-color-this-default: var(--hx-text-color-disabled);
                }

                &:not([data-hx-dtp-panel-month-bc]):not([data-hx-dtp-panel-month-y10k]) {
                    &[data-hx-dtp-panel-state-month] {
                        --hx-color-this-default: var(--hx-text-color);
                        --hx-bg-color-this-default: color-mix(in srgb, var(--hx-color-hover-primary) 20%, white);
                    }

                    &[data-hx-dtp-panel-model-month] {
                        --hx-color-this-default: var(--hx-color-contrast-primary);
                        --hx-bg-color-this-default: var(--hx-color-hover-primary);
                        --hx-transition-this-default: var(--hx-transition-bg-color);
                    }

                    &:hover,
                    &[data-hx-hover],
                    &[data-hx-hover]:hover {
                        text-decoration: underline;
                    }
                }

                > span[data-hx-dtp-panel-month-era] {
                    --hx-display-this-default: flex;

                    position: absolute;
                    top: 2%;
                    inset-block-start: 2%;
                    left: 2%;
                    inset-inline-start: 2%;
                    white-space: nowrap;
                    transform: scale(0.6);
                    transform-origin: top left;
                }

                > span[data-hx-dtp-panel-month-eras] {
                    --hx-display-this-default: flex;

                    position: absolute;
                    right: 2%;
                    inset-inline-end: 2%;
                    bottom: 2%;
                    inset-block-end: 2%;
                    white-space: nowrap;
                    transform: scale(0.6);
                    transform-origin: bottom right;
                }
            }
        }
    }
}
