div[data-hx-portal-root] div[data-hx-popup][data-hx-popup-for-dtp] > div[data-hx-dtp-panel] {
    > div[data-hx-dtp-panel-header] {
        --hx-display-this-default: grid;

        --hx-padding-b-this-default: var(--hx-padding-y-4);

        grid-template-columns: auto 1fr auto auto 1fr auto;

        > button[data-hx-dtp-panel-btn=prev-year],
        > button[data-hx-dtp-panel-btn=prev-month],
        > button[data-hx-dtp-panel-btn=next-month],
        > button[data-hx-dtp-panel-btn=next-year] {
            --hx-padding-x-this-default: 0;
            --hx-padding-y-this-default: 0;
            --hx-min-width-this-default: var(--hx-height-100);

            &:disabled,
            &[data-hx-disabled],
            &[data-hx-disabled]:disabled {
                --hx-color-disabled-this-default: var(--hx-text-color-disabled);
                --hx-bg-color-disabled-this-default: transparent;
                --hx-border-color-this-default: transparent;

                cursor: not-allowed;

                &:hover {
                    --hx-color-disabled-this-default: var(--hx-text-color-disabled);
                    --hx-bg-color-disabled-this-default: transparent;
                    --hx-border-color-this-default: transparent;
                }
            }

            &[data-hx-visible=no] {
                display: flex;
                opacity: 0;
                pointer-events: none;
            }
        }

        > button[data-hx-dtp-panel-btn=prev-month] {
            --hx-justify-self-this-default: start;
        }

        > button[data-hx-dtp-panel-btn=next-month] {
            --hx-justify-self-this-default: end;
        }

        > span[data-hx-dtp-panel-btn=year],
        > span[data-hx-dtp-panel-btn=month] {
            --hx-border-radius-this-default: var(--hx-border-radius-atomic);

            white-space: nowrap;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                text-decoration: underline;
            }
        }

        > span[data-hx-dtp-panel-btn=year] {
            --hx-justify-self-this-default: start;
        }

        > span[data-hx-dtp-panel-btn=month] {
            --hx-justify-self-this-default: end;
        }
    }
}
