div[data-hx-root] span[data-hx-badge],
div[data-hx-portal-root] span[data-hx-badge] {
    --hx-badge-color: var(--hx-text-color);
    --hx-badge-background-color: var(--hx-background-color);
    --hx-badge-font-size: var(--hx-font-size-xs);
    --hx-badge-height: var(--hx-075-height);
    --hx-badge-line-height: var(--hx-075-line-height);
    --hx-badge-padding-y: var(--hx-text-padding-y-atomic);
    --hx-badge-padding-x: var(--hx-text-padding-x-0);
    --hx-badge-border-width: var(--hx-border-width-1);
    --hx-badge-border-color: var(--hx-border-color);
    --hx-badge-border-style: solid;

    --hx-scoped-font-size: var(--hx-badge-font-size);
    --hx-scoped-height: var(--hx-badge-height);
    --hx-scoped-line-height: var(--hx-badge-line-height);
    --hx-scoped-background-color: var(--hx-badge-background-color);
    --hx-scoped-border-color: var(--hx-badge-border-color);
    --hx-scoped-border-style: var(--hx-badge-border-style);
    --hx-scoped-border-radius: calc(var(--hx-badge-height) / 2);

    height: var(--hx-scoped-height);
    min-height: unset;
    border-width: var(--hx-badge-border-width);
    border-color: var(--hx-scoped-border-color);
    border-style: var(--hx-scoped-border-style);
    border-radius: var(--hx-scoped-border-radius);

    &[data-hx-badge-variant=dot] {
        --hx-scoped-border-style: dot;
    }

    &[data-hx-badge-size=std] {
        --hx-scoped-font-size: var(--hx-font-size-sm);
        --hx-scoped-height: var(--hx-one-height);
        --hx-scoped-line-height: var(--hx-one-line-height);

        &[data-hx-badge-border-radius=round] {
        }
    }

    &[data-hx-badge-border-radius=none]:not([data-hx-border-radius]) {
        --hx-scoped-border-radius: 0;
    }

    &[data-hx-badge-border-radius=sm] {
        --hx-scoped-border-radius: var(--hx-border-radius-atomic);
    }

    &[data-hx-badge-border-radius=md] {
        --hx-scoped-border-radius: var(--hx-border-radius-container);
    }

    &[data-hx-badge-border-radius=round] {
        --hx-scoped-border-radius: var(--hx-border-radius-atomic);
    }
}
