div[data-hx-root] span[data-hx-label][data-hx-badge],
div[data-hx-portal-root] span[data-hx-label][data-hx-badge] {
    --hx-badge-color: var(--hx-text-color);
    --hx-badge-bg-color: var(--hx-bg-color);
    --hx-badge-font-size: var(--hx-font-size-xs);
    --hx-badge-height: var(--hx-height-080);
    --hx-badge-line-height: var(--hx-line-height-080);
    --hx-badge-padding-y: var(--hx-scoped-padding-x, var(--hx-padding-y-text-100-border));
    --hx-badge-padding-x: var(--hx-scoped-padding-y, var(--hx-padding-x-0));
    --hx-badge-border-width: var(--hx-border-width-1);
    --hx-badge-border-color: var(--hx-border-color);
    --hx-badge-border-style: solid;

    --hx-scoped-font-size: var(--hx-badge-font-size);
    --hx-scoped-height: var(--hx-badge-height);
    --hx-scoped-line-height: var(--hx-badge-line-height);
    --hx-scoped-bg-color: var(--hx-badge-bg-color);
    --hx-scoped-border-color: var(--hx-badge-border-color);
    --hx-scoped-border-style: var(--hx-badge-border-style);

    height: var(--hx-scoped-height);
    min-height: unset;
    border-width: var(--hx-badge-border-width);
    border-color: var(--hx-scoped-border-color);
    border-style: var(--hx-scoped-border-style);

    &[data-hx-badge-variant=dashed] {
        --hx-scoped-border-style: dashed;
    }

    &[data-hx-badge-size=std] {
        --hx-scoped-font-size: var(--hx-font-size-sm);
        --hx-scoped-height: var(--hx-height-100);
        --hx-scoped-line-height: var(--hx-line-height-100);
    }

    &[data-hx-badge-border-radius=round] {
        border-radius: calc(var(--hx-scoped-height) / 2);
    }

    &[data-hx-color=primary] {
        --hx-scoped-border-color: var(--hx-color-primary);
    }

    &[data-hx-color=success] {
        --hx-scoped-border-color: var(--hx-color-success);
    }

    &[data-hx-color=danger] {
        --hx-scoped-border-color: var(--hx-color-danger);
    }

    &[data-hx-color=warn] {
        --hx-scoped-border-color: var(--hx-color-warn);
    }

    &[data-hx-color=info] {
        --hx-scoped-border-color: var(--hx-color-info);
    }

    &[data-hx-color=waive] {
        --hx-scoped-border-color: var(--hx-color-waive);
    }
}
