div[data-hx-root] div[data-hx-box],
div[data-hx-portal-root] div[data-hx-box] {
    --hx-box-background-color: var(--hx-background-color);
    --hx-box-padding-x: var(--hx-padding-x-0);
    --hx-box-padding-t: var(--hx-padding-y-0);
    --hx-box-padding-b: var(--hx-padding-y-0);
    --hx-box-border-width-none: var(--hx-border-width-0);
    --hx-box-border-color: var(--hx-border-color-light);
    --hx-box-border-style: solid;
    --hx-box-border-radius: var(--hx-border-radius-container-none);
    --hx-box-transition: var(--hx-transition-all);

    --hx-scoped-padding-x: var(--hx-box-padding-x);
    --hx-scoped-padding-t: var(--hx-box-padding-t);
    --hx-scoped-padding-b: var(--hx-box-padding-b);
    --hx-scoped-border-width: var(--hx-box-border-width-none);
    --hx-scoped-border-color: var(--hx-box-border-color);
    --hx-scoped-border-radius: var(--hx-box-border-radius);

    background-color: var(--hx-box-background-color);

    &:not([data-hx-visible=no]) {
        display: block;
    }

    padding: var(--hx-scoped-padding-t) var(--hx-scoped-padding-x) var(--hx-scoped-padding-b);
    padding-inline: var(--hx-scoped-padding-x);
    padding-block: var(--hx-scoped-padding-t) var(--hx-scoped-padding-b);

    border-width: var(--hx-scoped-border-width);
    border-color: var(--hx-scoped-border-color);
    border-style: var(--hx-box-border-style);
    border-radius: var(--hx-scoped-border-radius);

    overflow: hidden;
    transition: var(--hx-box-transition);
}
