div[data-hx-root] button[data-hx-button],
div[data-hx-portal-root] button[data-hx-button] {
    --hx-button-color: var(--hx-text-color);
    --hx-button-disabled-text-color: var(--hx-text-color-disabled);
    --hx-button-bg-color: var(--hx-bg-color);
    --hx-button-disabled-bg-color: var(--hx-bg-color-disabled);
    --hx-button-font-family: var(--hx-font-family);
    --hx-button-font-size: var(--hx-font-size-sm);
    --hx-button-font-weight: var(--hx-font-weight);
    --hx-button-font-style: var(--hx-font-style);
    --hx-button-text-transform: uppercase;
    --hx-button-height: var(--hx-height-100);
    --hx-button-line-height: var(--hx-line-height-100);
    --hx-button-padding-y: var(--hx-scoped-padding-y, var(--hx-padding-y-text-with-border));
    --hx-button-padding-x: var(--hx-scoped-padding-x, var(--hx-padding-x-16));
    --hx-button-border-width: var(--hx-border-width-1);
    --hx-button-border-color: var(--hx-border-color);
    --hx-button-border-style: solid;
    --hx-button-border-radius: var(--hx-border-radius-atomic);
    --hx-button-hover-border-color: var(--hx-border-color-hover);
    --hx-button-focus-border-color: var(--hx-border-color-focus);
    --hx-button-disabled-border-color: var(--hx-border-color-disabled);
    --hx-button-transition: var(--hx-transition-all);
    --hx-button-min-width: var(--hx-size-100);

    --hx-button-input-embed-height: calc(var(--hx-height-100) / 4 * 3);

    --hx-scoped-color: var(--hx-button-color);
    --hx-scoped-bg-color: var(--hx-button-bg-color);
    --hx-scoped-border-width: var(--hx-button-border-width);
    --hx-scoped-border-color: var(--hx-button-border-color);

    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* noinspection CssNoGenericFontName */
    font-family: var(--hx-button-font-family);
    font-size: var(--hx-button-font-size);
    font-weight: var(--hx-button-font-weight);
    font-style: var(--hx-button-font-style);
    color: var(--hx-scoped-color);
    background-color: var(--hx-scoped-bg-color);

    &:not([data-hx-visible=no]) {
        display: flex;
    }

    align-items: center;
    justify-content: center;
    height: var(--hx-button-height);
    line-height: var(--hx-button-line-height);

    padding: var(--hx-button-padding-y) var(--hx-button-padding-x);
    padding-inline: var(--hx-button-padding-x);
    padding-block: var(--hx-button-padding-y);

    white-space: nowrap;

    outline: none;
    border-width: var(--hx-scoped-border-width);
    border-color: var(--hx-scoped-border-color);
    border-style: var(--hx-button-border-style);
    border-radius: var(--hx-button-border-radius);

    cursor: pointer;
    transition: var(--hx-button-transition);

    &:hover,
    &[data-hx-hover],
    &[data-hx-hover]:hover {
        --hx-scoped-border-color: var(--hx-button-hover-border-color);
    }

    &:focus,
    &:focus:hover,
    &[data-hx-hover]:focus,
    &[data-hx-hover]:focus:hover {
        --hx-scoped-border-color: var(--hx-button-focus-border-color);
    }

    &:disabled,
    &[data-hx-disabled],
    &[data-hx-disabled]:disabled {
        --hx-scoped-bg-color: var(--hx-button-disabled-bg-color);
        --hx-scoped-color: var(--hx-button-disabled-text-color);
        --hx-scoped-border-color: var(--hx-button-disabled-border-color);
        cursor: not-allowed;

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-border-color: var(--hx-button-disabled-border-color);
        }
    }

    &[data-hx-button-text-uppercase] {
        text-transform: uppercase;
    }

    /** variant + color */

    &[data-hx-color=primary],
    &[data-hx-color=primary][data-hx-button-variant=solid] {
        --hx-scoped-bg-color: var(--hx-color-primary);
        --hx-scoped-color: var(--hx-color-contrast-primary);
        --hx-scoped-border-color: var(--hx-border-color-primary);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-primary);
            --hx-scoped-border-color: var(--hx-border-color-hover-primary);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-primary);
            --hx-scoped-border-color: var(--hx-border-color-focus-primary);
        }
    }

    &[data-hx-color=success],
    &[data-hx-color=success][data-hx-button-variant=solid] {
        --hx-scoped-bg-color: var(--hx-color-success);
        --hx-scoped-color: var(--hx-color-contrast-success);
        --hx-scoped-border-color: var(--hx-border-color-success);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-success);
            --hx-scoped-border-color: var(--hx-border-color-hover-success);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-success);
            --hx-scoped-border-color: var(--hx-border-color-focus-success);
        }
    }

    &[data-hx-color=danger],
    &[data-hx-color=danger][data-hx-button-variant=solid] {
        --hx-scoped-bg-color: var(--hx-color-danger);
        --hx-scoped-color: var(--hx-color-contrast-danger);
        --hx-scoped-border-color: var(--hx-border-color-danger);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-danger);
            --hx-scoped-border-color: var(--hx-border-color-hover-danger);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-danger);
            --hx-scoped-border-color: var(--hx-border-color-focus-danger);
        }
    }

    &[data-hx-color=warn],
    &[data-hx-color=warn][data-hx-button-variant=solid] {
        --hx-scoped-bg-color: var(--hx-color-warn);
        --hx-scoped-color: var(--hx-color-contrast-warn);
        --hx-scoped-border-color: var(--hx-border-color-warn);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-warn);
            --hx-scoped-border-color: var(--hx-border-color-hover-warn);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-warn);
            --hx-scoped-border-color: var(--hx-border-color-focus-warn);
        }
    }

    &[data-hx-color=info],
    &[data-hx-color=info][data-hx-button-variant=solid] {
        --hx-scoped-bg-color: var(--hx-color-info);
        --hx-scoped-color: var(--hx-color-contrast-info);
        --hx-scoped-border-color: var(--hx-border-color-info);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-info);
            --hx-scoped-border-color: var(--hx-border-color-hover-info);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-info);
            --hx-scoped-border-color: var(--hx-border-color-focus-info);
        }
    }

    &[data-hx-color=waive],
    &[data-hx-color=waive][data-hx-button-variant=solid] {
        --hx-scoped-bg-color: var(--hx-color-waive);
        --hx-scoped-color: var(--hx-color-contrast-waive);
        --hx-scoped-border-color: var(--hx-border-color-waive);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-waive);
            --hx-scoped-border-color: var(--hx-border-color-hover-waive);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-waive);
            --hx-scoped-border-color: var(--hx-border-color-focus-waive);
        }
    }

    &[data-hx-color=primary],
    &[data-hx-color=primary][data-hx-button-variant=solid],
    &[data-hx-color=success],
    &[data-hx-color=success][data-hx-button-variant=solid],
    &[data-hx-color=danger],
    &[data-hx-color=danger][data-hx-button-variant=solid],
    &[data-hx-color=warn],
    &[data-hx-color=warn][data-hx-button-variant=solid],
    &[data-hx-color=info],
    &[data-hx-color=info][data-hx-button-variant=solid],
    &[data-hx-color=waive],
    &[data-hx-color=waive][data-hx-button-variant=solid] {
        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            --hx-scoped-bg-color: var(--hx-button-disabled-bg-color);
            --hx-scoped-color: var(--hx-button-disabled-text-color);
            --hx-scoped-border-color: var(--hx-button-disabled-border-color);
            cursor: not-allowed;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                --hx-scoped-border-color: var(--hx-button-disabled-border-color);
            }
        }
    }

    &[data-hx-color=primary],
    &[data-hx-color=success],
    &[data-hx-color=danger],
    &[data-hx-color=warn],
    &[data-hx-color=info],
    &[data-hx-color=waive] {
        &[data-hx-button-variant=outline] {
            --hx-scoped-bg-color: var(--hx-button-bg-color);

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                --hx-scoped-bg-color: var(--hx-button-bg-color);
            }

            &:focus,
            &:focus:hover,
            &[data-hx-hover]:focus,
            &[data-hx-hover]:focus:hover {
                --hx-scoped-bg-color: var(--hx-button-bg-color);
            }
        }
    }

    &[data-hx-color=primary][data-hx-button-variant=outline] {
        --hx-scoped-color: var(--hx-color-primary);
        --hx-scoped-border-color: var(--hx-border-color-primary);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-primary);
            --hx-scoped-border-color: var(--hx-border-color-hover-primary);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-primary);
            --hx-scoped-border-color: var(--hx-border-color-focus-primary);
        }
    }

    &[data-hx-color=success][data-hx-button-variant=outline] {
        --hx-scoped-color: var(--hx-color-success);
        --hx-scoped-border-color: var(--hx-border-color-success);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-success);
            --hx-scoped-border-color: var(--hx-border-color-hover-success);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-success);
            --hx-scoped-border-color: var(--hx-border-color-focus-success);
        }
    }

    &[data-hx-color=danger][data-hx-button-variant=outline] {
        --hx-scoped-color: var(--hx-color-danger);
        --hx-scoped-border-color: var(--hx-border-color-danger);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-danger);
            --hx-scoped-border-color: var(--hx-border-color-hover-danger);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-danger);
            --hx-scoped-border-color: var(--hx-border-color-focus-danger);
        }
    }

    &[data-hx-color=warn][data-hx-button-variant=outline] {
        --hx-scoped-color: var(--hx-color-warn);
        --hx-scoped-border-color: var(--hx-border-color-warn);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-warn);
            --hx-scoped-border-color: var(--hx-border-color-hover-warn);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-warn);
            --hx-scoped-border-color: var(--hx-border-color-focus-warn);
        }
    }

    &[data-hx-color=info][data-hx-button-variant=outline] {
        --hx-scoped-color: var(--hx-color-info);
        --hx-scoped-border-color: var(--hx-border-color-info);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-info);
            --hx-scoped-border-color: var(--hx-border-color-hover-info);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-info);
            --hx-scoped-border-color: var(--hx-border-color-focus-info);
        }
    }

    &[data-hx-color=waive][data-hx-button-variant=outline] {
        --hx-scoped-color: var(--hx-color-waive);
        --hx-scoped-border-color: var(--hx-border-color-waive);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-waive);
            --hx-scoped-border-color: var(--hx-border-color-hover-waive);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-waive);
            --hx-scoped-border-color: var(--hx-border-color-focus-waive);
        }
    }

    &[data-hx-color=primary][data-hx-button-variant=outline],
    &[data-hx-color=success][data-hx-button-variant=outline],
    &[data-hx-color=danger][data-hx-button-variant=outline],
    &[data-hx-color=warn][data-hx-button-variant=outline],
    &[data-hx-color=info][data-hx-button-variant=outline],
    &[data-hx-color=waive][data-hx-button-variant=outline] {
        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            --hx-scoped-bg-color: var(--hx-button-disabled-bg-color);
            --hx-scoped-color: var(--hx-button-disabled-text-color);
            --hx-scoped-border-color: var(--hx-button-disabled-border-color);
            cursor: not-allowed;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                --hx-scoped-border-color: var(--hx-button-disabled-border-color);
            }
        }
    }

    &[data-hx-color=primary],
    &[data-hx-color=success],
    &[data-hx-color=danger],
    &[data-hx-color=warn],
    &[data-hx-color=info],
    &[data-hx-color=waive] {
        &[data-hx-button-variant=ghost] {
            --hx-scoped-bg-color: var(--hx-button-bg-color);
            --hx-scoped-border-color: transparent;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                --hx-scoped-bg-color: var(--hx-button-bg-color);
                --hx-scoped-border-color: transparent;
            }

            &:focus,
            &:focus:hover,
            &[data-hx-hover]:focus,
            &[data-hx-hover]:focus:hover {
                --hx-scoped-bg-color: var(--hx-button-bg-color);
                --hx-scoped-border-color: transparent;
            }
        }
    }

    &[data-hx-color=primary][data-hx-button-variant=ghost] {
        --hx-scoped-color: var(--hx-color-primary);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-primary);
            --hx-scoped-color: var(--hx-color-contrast-primary);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-primary);
            --hx-scoped-color: var(--hx-color-contrast-primary);
        }
    }

    &[data-hx-color=success][data-hx-button-variant=ghost] {
        --hx-scoped-color: var(--hx-color-success);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-success);
            --hx-scoped-color: var(--hx-color-contrast-success);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-success);
            --hx-scoped-color: var(--hx-color-contrast-success);
        }
    }

    &[data-hx-color=danger][data-hx-button-variant=ghost] {
        --hx-scoped-color: var(--hx-color-danger);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-danger);
            --hx-scoped-color: var(--hx-color-contrast-danger);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-danger);
            --hx-scoped-color: var(--hx-color-contrast-danger);
        }
    }

    &[data-hx-color=warn][data-hx-button-variant=ghost] {
        --hx-scoped-color: var(--hx-color-warn);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-warn);
            --hx-scoped-color: var(--hx-color-contrast-warn);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-warn);
            --hx-scoped-color: var(--hx-color-contrast-warn);
        }
    }

    &[data-hx-color=info][data-hx-button-variant=ghost] {
        --hx-scoped-color: var(--hx-color-info);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-info);
            --hx-scoped-color: var(--hx-color-contrast-info);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-info);
            --hx-scoped-color: var(--hx-color-contrast-info);
        }
    }

    &[data-hx-color=waive][data-hx-button-variant=ghost] {
        --hx-scoped-color: var(--hx-color-waive);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-bg-color: var(--hx-color-hover-waive);
            --hx-scoped-color: var(--hx-color-contrast-waive);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-bg-color: var(--hx-color-focus-waive);
            --hx-scoped-color: var(--hx-color-contrast-waive);
        }
    }

    &[data-hx-color=primary][data-hx-button-variant=ghost],
    &[data-hx-color=success][data-hx-button-variant=ghost],
    &[data-hx-color=danger][data-hx-button-variant=ghost],
    &[data-hx-color=warn][data-hx-button-variant=ghost],
    &[data-hx-color=info][data-hx-button-variant=ghost],
    &[data-hx-color=waive][data-hx-button-variant=ghost] {
        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            --hx-scoped-bg-color: var(--hx-button-disabled-bg-color);
            --hx-scoped-color: var(--hx-button-disabled-text-color);
            --hx-scoped-border-color: transparent;
            cursor: not-allowed;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover,
            &:focus,
            &:focus:hover,
            &[data-hx-hover]:focus,
            &[data-hx-hover]:focus:hover {
                --hx-scoped-border-color: transparent;
            }
        }
    }

    &[data-hx-color=primary],
    &[data-hx-color=success],
    &[data-hx-color=danger],
    &[data-hx-color=warn],
    &[data-hx-color=info],
    &[data-hx-color=waive] {
        &[data-hx-button-variant=link] {
            --hx-scoped-bg-color: transparent;
            --hx-scoped-border-color: transparent;
            text-decoration: underline;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                --hx-scoped-bg-color: transparent;
                --hx-scoped-border-color: transparent;
            }

            &:focus,
            &:focus:hover,
            &[data-hx-hover]:focus,
            &[data-hx-hover]:focus:hover {
                --hx-scoped-bg-color: transparent;
                --hx-scoped-border-color: transparent;
            }
        }
    }

    &[data-hx-color=primary][data-hx-button-variant=link] {
        --hx-scoped-color: var(--hx-color-primary);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-primary);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-primary);
        }
    }

    &[data-hx-color=success][data-hx-button-variant=link] {
        --hx-scoped-color: var(--hx-color-success);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-success);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-success);
        }
    }

    &[data-hx-color=danger][data-hx-button-variant=link] {
        --hx-scoped-color: var(--hx-color-danger);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-danger);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-danger);
        }
    }

    &[data-hx-color=warn][data-hx-button-variant=link] {
        --hx-scoped-color: var(--hx-color-warn);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-warn);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-warn);
        }
    }

    &[data-hx-color=info][data-hx-button-variant=link] {
        --hx-scoped-color: var(--hx-color-info);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-info);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-info);
        }
    }

    &[data-hx-color=waive][data-hx-button-variant=link] {
        --hx-scoped-color: var(--hx-color-waive);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-scoped-color: var(--hx-color-hover-waive);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-scoped-color: var(--hx-color-focus-waive);
        }
    }

    &[data-hx-color=primary][data-hx-button-variant=link],
    &[data-hx-color=success][data-hx-button-variant=link],
    &[data-hx-color=danger][data-hx-button-variant=link],
    &[data-hx-color=warn][data-hx-button-variant=link],
    &[data-hx-color=info][data-hx-button-variant=link],
    &[data-hx-color=waive][data-hx-button-variant=link] {
        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            --hx-scoped-bg-color: transparent;
            --hx-scoped-border-color: transparent;
            --hx-scoped-color: var(--hx-button-disabled-text-color);
            cursor: not-allowed;

            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover,
            &:focus,
            &:focus:hover,
            &[data-hx-hover]:focus,
            &[data-hx-hover]:focus:hover {
                --hx-scoped-border-color: transparent;
            }
        }
    }

    &[data-hx-button-svg-icon] {
        width: var(--hx-button-height);
        padding: 0;
        padding-inline: 0;
        padding-block: 0;
    }

    &[data-hx-button-input-embed] {
        height: var(--hx-button-input-embed-height);

        &[data-hx-button-svg-icon] {
            width: var(--hx-button-input-embed-height);
        }
    }

    &[data-hx-button-min-width] {
        min-width: var(--hx-button-min-width);
    }

    > span[data-hx-label] {
        background-color: inherit;
        color: inherit;
        min-height: unset;
        height: calc(var(--hx-button-height) - var(--hx-button-border-width) * 2);
        padding: var(--hx-button-padding-y) 0;
        padding-inline: 0;
        padding-block: var(--hx-button-padding-y);
        cursor: inherit;
    }
}
