div[data-hx-root] div[data-hx-flex][data-hx-callout],
div[data-hx-portal-root] div[data-hx-flex][data-hx-callout] {
    --hx-callout-icon-size: var(--hx-line-height-100);

    --hx-scoped-bg-color: var(--hx-bg-color);

    &[data-hx-callout-color=primary] {
        --hx-scoped-bg-color: var(--hx-color-primary);
    }

    &[data-hx-callout-color=info] {
        --hx-scoped-bg-color: var(--hx-color-info);
    }

    &[data-hx-callout-color=success] {
        --hx-scoped-bg-color: var(--hx-color-success);
    }

    &[data-hx-callout-color=warn] {
        --hx-scoped-bg-color: var(--hx-color-warn);
    }

    &[data-hx-callout-color=danger] {
        --hx-scoped-bg-color: var(--hx-color-danger);
    }

    &:not([data-hx-callout-color]) {
        --hx-scoped-bg-color: var(--hx-color-waive);
    }

    > div[data-hx-callout-bg] {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--hx-scoped-bg-color);
        opacity: 0.05
    }

    > div[data-hx-callout-content] {
        background-color: transparent;

        > span[data-hx-callout-icon] > svg {
            width: var(--hx-callout-icon-size);
            height: var(--hx-callout-icon-size);

            &[data-hx-svg-icon-name=question],
            &[data-hx-svg-icon-name=success],
            &[data-hx-svg-icon-name=exclamation],
            &[data-hx-svg-icon-name=error] {
                width: calc(var(--hx-callout-icon-size) * 1.2);
                height: calc(var(--hx-callout-icon-size) * 1.2);
            }
        }
    }
}
