div[data-hx-root] *,
div[data-hx-portal-root] * {
    &[data-hx-visible=no] {
        display: none;
    }

    &[data-hx-min-width] {
        &[data-hx-min-width=xs] {
            min-width: var(--hx-min-width-xs);
        }

        &[data-hx-min-width=sm] {
            min-width: var(--hx-min-width-sm);
        }

        &[data-hx-min-width=md] {
            min-width: var(--hx-min-width-md);
        }

        &[data-hx-min-width=lg] {
            min-width: var(--hx-min-width-lg);
        }

        &[data-hx-min-width=xl] {
            min-width: var(--hx-min-width-xl);
        }
    }

    &[data-hx-width] {
        &[data-hx-width=xs] {
            width: var(--hx-width-xs);
        }

        &[data-hx-width=sm] {
            width: var(--hx-width-sm);
        }

        &[data-hx-width=md] {
            width: var(--hx-width-md);
        }

        &[data-hx-width=lg] {
            width: var(--hx-width-lg);
        }

        &[data-hx-width=xl] {
            width: var(--hx-width-xl);
        }
    }

    &[data-hx-max-width] {
        &[data-hx-max-width=xs] {
            max-width: var(--hx-max-width-xs);
        }

        &[data-hx-max-width=sm] {
            max-width: var(--hx-max-width-sm);
        }

        &[data-hx-max-width=md] {
            max-width: var(--hx-max-width-md);
        }

        &[data-hx-max-width=lg] {
            max-width: var(--hx-max-width-lg);
        }

        &[data-hx-max-width=xl] {
            max-width: var(--hx-max-width-xl);
        }
    }

    &[data-hx-min-height] {
        &[data-hx-min-height=xs] {
            min-height: var(--hx-min-height-xs);
        }

        &[data-hx-min-height=sm] {
            min-height: var(--hx-min-height-sm);
        }

        &[data-hx-min-height=md] {
            min-height: var(--hx-min-height-md);
        }

        &[data-hx-min-height=lg] {
            min-height: var(--hx-min-height-lg);
        }

        &[data-hx-min-height=xl] {
            min-height: var(--hx-min-height-xl);
        }
    }

    &[data-hx-height] {
        &[data-hx-height=xs] {
            height: var(--hx-height-xs);
        }

        &[data-hx-height=sm] {
            height: var(--hx-height-sm);
        }

        &[data-hx-height=md] {
            height: var(--hx-height-md);
        }

        &[data-hx-height=lg] {
            height: var(--hx-height-lg);
        }

        &[data-hx-height=xl] {
            height: var(--hx-height-xl);
        }
    }

    &[data-hx-max-height] {
        &[data-hx-max-height=xs] {
            max-height: var(--hx-max-height-xs);
        }

        &[data-hx-max-height=sm] {
            max-height: var(--hx-max-height-sm);
        }

        &[data-hx-max-height=md] {
            max-height: var(--hx-max-height-md);
        }

        &[data-hx-max-height=lg] {
            max-height: var(--hx-max-height-lg);
        }

        &[data-hx-max-height=xl] {
            max-height: var(--hx-max-height-xl);
        }
    }

    &[data-hx-margin-x] {
        --hx-margin-x-none: var(--hx-margin-x-0);
        --hx-margin-x-xs: var(--hx-margin-x-4);
        --hx-margin-x-sm: var(--hx-margin-x-8);
        --hx-margin-x-md: var(--hx-margin-x-12);
        --hx-margin-x-lg: var(--hx-margin-x-16);
        --hx-margin-x-xl: var(--hx-margin-x-20);

        margin-left: var(--hx-scoped-margin-x);
        margin-inline-start: var(--hx-scoped-margin-x);
        margin-right: var(--hx-scoped-margin-x);
        margin-inline-end: var(--hx-scoped-margin-x);

        &[data-hx-margin-x=none] {
            --hx-scoped-margin-x: var(--hx-margin-x-none);
        }

        &[data-hx-margin-x=xs] {
            --hx-scoped-margin-x: var(--hx-margin-x-xs);
        }

        &[data-hx-margin-x=sm] {
            --hx-scoped-margin-x: var(--hx-margin-x-sm);
        }

        &[data-hx-margin-x=md] {
            --hx-scoped-margin-x: var(--hx-margin-x-md);
        }

        &[data-hx-margin-x=lg] {
            --hx-scoped-margin-x: var(--hx-margin-x-lg);
        }

        &[data-hx-margin-x=xl] {
            --hx-scoped-margin-x: var(--hx-margin-x-xl);
        }
    }

    &[data-hx-margin-y] {
        --hx-margin-y-none: var(--hx-margin-y-0);
        --hx-margin-y-xs: var(--hx-margin-y-4);
        --hx-margin-y-sm: var(--hx-margin-y-8);
        --hx-margin-y-md: var(--hx-margin-y-12);
        --hx-margin-y-lg: var(--hx-margin-y-16);
        --hx-margin-y-xl: var(--hx-margin-y-20);

        margin-top: var(--hx-scoped-margin-y);
        margin-block-start: var(--hx-scoped-margin-y);
        margin-bottom: var(--hx-scoped-margin-y);
        margin-block-end: var(--hx-scoped-margin-y);

        &[data-hx-margin-y=none] {
            --hx-scoped-margin-y: var(--hx-margin-y-none);
        }

        &[data-hx-margin-y=xs] {
            --hx-scoped-margin-y: var(--hx-margin-y-xs);
        }

        &[data-hx-margin-y=sm] {
            --hx-scoped-margin-y: var(--hx-margin-y-sm);
        }

        &[data-hx-margin-y=md] {
            --hx-scoped-margin-y: var(--hx-margin-y-md);
        }

        &[data-hx-margin-y=lg] {
            --hx-scoped-margin-y: var(--hx-margin-y-lg);
        }

        &[data-hx-margin-y=xl] {
            --hx-scoped-margin-y: var(--hx-margin-y-xl);
        }
    }

    &[data-hx-margin-t] {
        --hx-margin-t-none: var(--hx-margin-y-0);
        --hx-margin-t-xs: var(--hx-margin-y-4);
        --hx-margin-t-sm: var(--hx-margin-y-8);
        --hx-margin-t-md: var(--hx-margin-y-12);
        --hx-margin-t-lg: var(--hx-margin-y-16);
        --hx-margin-t-xl: var(--hx-margin-y-20);
        --hx-scoped-margin-t: unset;

        margin-top: var(--hx-scoped-margin-t);
        margin-block-start: var(--hx-scoped-margin-t);

        &[data-hx-margin-t=none] {
            --hx-scoped-margin-t: var(--hx-margin-t-none);
        }

        &[data-hx-margin-t=xs] {
            --hx-scoped-margin-t: var(--hx-margin-t-xs);
        }

        &[data-hx-margin-t=sm] {
            --hx-scoped-margin-t: var(--hx-margin-t-sm);
        }

        &[data-hx-margin-t=md] {
            --hx-scoped-margin-t: var(--hx-margin-t-md);
        }

        &[data-hx-margin-t=lg] {
            --hx-scoped-margin-t: var(--hx-margin-t-lg);
        }

        &[data-hx-margin-t=xl] {
            --hx-scoped-margin-t: var(--hx-margin-t-xl);
        }

        &[data-hx-margin-t="-10"] {
            --hx-scoped-margin-t: -10px;
        }

        &[data-hx-margin-t="-9"] {
            --hx-scoped-margin-t: -9px;
        }

        &[data-hx-margin-t="-8"] {
            --hx-scoped-margin-t: -8px;
        }

        &[data-hx-margin-t="-7"] {
            --hx-scoped-margin-t: -7px;
        }

        &[data-hx-margin-t="-6"] {
            --hx-scoped-margin-t: -6px;
        }

        &[data-hx-margin-t="-5"] {
            --hx-scoped-margin-t: -5px;
        }

        &[data-hx-margin-t="-4"] {
            --hx-scoped-margin-t: -4px;
        }

        &[data-hx-margin-t="-3"] {
            --hx-scoped-margin-t: -3px;
        }

        &[data-hx-margin-t="-2"] {
            --hx-scoped-margin-t: -2px;
        }

        &[data-hx-margin-t="-1"] {
            --hx-scoped-margin-t: -1px;
        }

        &[data-hx-margin-t="0"] {
            --hx-scoped-margin-t: 0;
        }

        &[data-hx-margin-t="1"] {
            --hx-scoped-margin-t: 1px;
        }

        &[data-hx-margin-t="2"] {
            --hx-scoped-margin-t: 2px;
        }

        &[data-hx-margin-t="3"] {
            --hx-scoped-margin-t: 3px;
        }

        &[data-hx-margin-t="4"] {
            --hx-scoped-margin-t: 4px;
        }

        &[data-hx-margin-t="5"] {
            --hx-scoped-margin-t: 5px;
        }

        &[data-hx-margin-t="6"] {
            --hx-scoped-margin-t: 6px;
        }

        &[data-hx-margin-t="7"] {
            --hx-scoped-margin-t: 7px;
        }

        &[data-hx-margin-t="8"] {
            --hx-scoped-margin-t: 8px;
        }

        &[data-hx-margin-t="9"] {
            --hx-scoped-margin-t: 9px;
        }

        &[data-hx-margin-t="10"] {
            --hx-scoped-margin-t: 10px;
        }
    }

    &[data-hx-margin-r] {
        --hx-margin-r-none: var(--hx-margin-x-0);
        --hx-margin-r-xs: var(--hx-margin-x-4);
        --hx-margin-r-sm: var(--hx-margin-x-8);
        --hx-margin-r-md: var(--hx-margin-x-12);
        --hx-margin-r-lg: var(--hx-margin-x-16);
        --hx-margin-r-xl: var(--hx-margin-x-20);
        --hx-scoped-margin-r: unset;

        margin-right: var(--hx-scoped-margin-r);
        margin-inline-end: var(--hx-scoped-margin-r);

        &[data-hx-margin-r=none] {
            --hx-scoped-margin-r: var(--hx-margin-r-none);
        }

        &[data-hx-margin-r=xs] {
            --hx-scoped-margin-r: var(--hx-margin-r-xs);
        }

        &[data-hx-margin-r=sm] {
            --hx-scoped-margin-r: var(--hx-margin-r-sm);
        }

        &[data-hx-margin-r=md] {
            --hx-scoped-margin-r: var(--hx-margin-r-md);
        }

        &[data-hx-margin-r=lg] {
            --hx-scoped-margin-r: var(--hx-margin-r-lg);
        }

        &[data-hx-margin-r=xl] {
            --hx-scoped-margin-r: var(--hx-margin-r-xl);
        }

        &[data-hx-margin-r="-10"] {
            --hx-scoped-margin-r: -10px;
        }

        &[data-hx-margin-r="-9"] {
            --hx-scoped-margin-r: -9px;
        }

        &[data-hx-margin-r="-8"] {
            --hx-scoped-margin-r: -8px;
        }

        &[data-hx-margin-r="-7"] {
            --hx-scoped-margin-r: -7px;
        }

        &[data-hx-margin-r="-6"] {
            --hx-scoped-margin-r: -6px;
        }

        &[data-hx-margin-r="-5"] {
            --hx-scoped-margin-r: -5px;
        }

        &[data-hx-margin-r="-4"] {
            --hx-scoped-margin-r: -4px;
        }

        &[data-hx-margin-r="-3"] {
            --hx-scoped-margin-r: -3px;
        }

        &[data-hx-margin-r="-2"] {
            --hx-scoped-margin-r: -2px;
        }

        &[data-hx-margin-r="-1"] {
            --hx-scoped-margin-r: -1px;
        }

        &[data-hx-margin-r="0"] {
            --hx-scoped-margin-r: 0;
        }

        &[data-hx-margin-r="1"] {
            --hx-scoped-margin-r: 1px;
        }

        &[data-hx-margin-r="2"] {
            --hx-scoped-margin-r: 2px;
        }

        &[data-hx-margin-r="3"] {
            --hx-scoped-margin-r: 3px;
        }

        &[data-hx-margin-r="4"] {
            --hx-scoped-margin-r: 4px;
        }

        &[data-hx-margin-r="5"] {
            --hx-scoped-margin-r: 5px;
        }

        &[data-hx-margin-r="6"] {
            --hx-scoped-margin-r: 6px;
        }

        &[data-hx-margin-r="7"] {
            --hx-scoped-margin-r: 7px;
        }

        &[data-hx-margin-r="8"] {
            --hx-scoped-margin-r: 8px;
        }

        &[data-hx-margin-r="9"] {
            --hx-scoped-margin-r: 9px;
        }

        &[data-hx-margin-r="10"] {
            --hx-scoped-margin-r: 10px;
        }
    }

    &[data-hx-margin-b] {
        --hx-margin-b-none: var(--hx-margin-y-0);
        --hx-margin-b-xs: var(--hx-margin-y-4);
        --hx-margin-b-sm: var(--hx-margin-y-8);
        --hx-margin-b-md: var(--hx-margin-y-12);
        --hx-margin-b-lg: var(--hx-margin-y-16);
        --hx-margin-b-xl: var(--hx-margin-y-20);
        --hx-scoped-margin-b: unset;

        margin-bottom: var(--hx-scoped-margin-b);
        margin-block-end: var(--hx-scoped-margin-b);

        &[data-hx-margin-b=none] {
            --hx-scoped-margin-b: var(--hx-margin-b-none);
        }

        &[data-hx-margin-b=xs] {
            --hx-scoped-margin-b: var(--hx-margin-b-xs);
        }

        &[data-hx-margin-b=sm] {
            --hx-scoped-margin-b: var(--hx-margin-b-sm);
        }

        &[data-hx-margin-b=md] {
            --hx-scoped-margin-b: var(--hx-margin-b-md);
        }

        &[data-hx-margin-b=lg] {
            --hx-scoped-margin-b: var(--hx-margin-b-lg);
        }

        &[data-hx-margin-b=xl] {
            --hx-scoped-margin-b: var(--hx-margin-b-xl);
        }

        &[data-hx-margin-b="-10"] {
            --hx-scoped-margin-b: -10px;
        }

        &[data-hx-margin-b="-9"] {
            --hx-scoped-margin-b: -9px;
        }

        &[data-hx-margin-b="-8"] {
            --hx-scoped-margin-b: -8px;
        }

        &[data-hx-margin-b="-7"] {
            --hx-scoped-margin-b: -7px;
        }

        &[data-hx-margin-b="-6"] {
            --hx-scoped-margin-b: -6px;
        }

        &[data-hx-margin-b="-5"] {
            --hx-scoped-margin-b: -5px;
        }

        &[data-hx-margin-b="-4"] {
            --hx-scoped-margin-b: -4px;
        }

        &[data-hx-margin-b="-3"] {
            --hx-scoped-margin-b: -3px;
        }

        &[data-hx-margin-b="-2"] {
            --hx-scoped-margin-b: -2px;
        }

        &[data-hx-margin-b="-1"] {
            --hx-scoped-margin-b: -1px;
        }

        &[data-hx-margin-b="0"] {
            --hx-scoped-margin-b: 0;
        }

        &[data-hx-margin-b="1"] {
            --hx-scoped-margin-b: 1px;
        }

        &[data-hx-margin-b="2"] {
            --hx-scoped-margin-b: 2px;
        }

        &[data-hx-margin-b="3"] {
            --hx-scoped-margin-b: 3px;
        }

        &[data-hx-margin-b="4"] {
            --hx-scoped-margin-b: 4px;
        }

        &[data-hx-margin-b="5"] {
            --hx-scoped-margin-b: 5px;
        }

        &[data-hx-margin-b="6"] {
            --hx-scoped-margin-b: 6px;
        }

        &[data-hx-margin-b="7"] {
            --hx-scoped-margin-b: 7px;
        }

        &[data-hx-margin-b="8"] {
            --hx-scoped-margin-b: 8px;
        }

        &[data-hx-margin-b="9"] {
            --hx-scoped-margin-b: 9px;
        }

        &[data-hx-margin-b="10"] {
            --hx-scoped-margin-b: 10px;
        }
    }

    &[data-hx-margin-l] {
        --hx-margin-l-none: var(--hx-margin-x-0);
        --hx-margin-l-xs: var(--hx-margin-x-4);
        --hx-margin-l-sm: var(--hx-margin-x-8);
        --hx-margin-l-md: var(--hx-margin-x-12);
        --hx-margin-l-lg: var(--hx-margin-x-16);
        --hx-margin-l-xl: var(--hx-margin-x-20);
        --hx-scoped-margin-l: unset;

        margin-left: var(--hx-scoped-margin-l);
        margin-inline-start: var(--hx-scoped-margin-l);

        &[data-hx-margin-l=none] {
            --hx-scoped-margin-l: var(--hx-margin-l-none);
        }

        &[data-hx-margin-l=xs] {
            --hx-scoped-margin-l: var(--hx-margin-l-xs);
        }

        &[data-hx-margin-l=sm] {
            --hx-scoped-margin-l: var(--hx-margin-l-sm);
        }

        &[data-hx-margin-l=md] {
            --hx-scoped-margin-l: var(--hx-margin-l-md);
        }

        &[data-hx-margin-l=lg] {
            --hx-scoped-margin-l: var(--hx-margin-l-lg);
        }

        &[data-hx-margin-l=xl] {
            --hx-scoped-margin-l: var(--hx-margin-l-xl);
        }

        &[data-hx-margin-l="-10"] {
            --hx-scoped-margin-l: -10px;
        }

        &[data-hx-margin-l="-9"] {
            --hx-scoped-margin-l: -9px;
        }

        &[data-hx-margin-l="-8"] {
            --hx-scoped-margin-l: -8px;
        }

        &[data-hx-margin-l="-7"] {
            --hx-scoped-margin-l: -7px;
        }

        &[data-hx-margin-l="-6"] {
            --hx-scoped-margin-l: -6px;
        }

        &[data-hx-margin-l="-5"] {
            --hx-scoped-margin-l: -5px;
        }

        &[data-hx-margin-l="-4"] {
            --hx-scoped-margin-l: -4px;
        }

        &[data-hx-margin-l="-3"] {
            --hx-scoped-margin-l: -3px;
        }

        &[data-hx-margin-l="-2"] {
            --hx-scoped-margin-l: -2px;
        }

        &[data-hx-margin-l="-1"] {
            --hx-scoped-margin-l: -1px;
        }

        &[data-hx-margin-l="0"] {
            --hx-scoped-margin-l: 0;
        }

        &[data-hx-margin-l="1"] {
            --hx-scoped-margin-l: 1px;
        }

        &[data-hx-margin-l="2"] {
            --hx-scoped-margin-l: 2px;
        }

        &[data-hx-margin-l="3"] {
            --hx-scoped-margin-l: 3px;
        }

        &[data-hx-margin-l="4"] {
            --hx-scoped-margin-l: 4px;
        }

        &[data-hx-margin-l="5"] {
            --hx-scoped-margin-l: 5px;
        }

        &[data-hx-margin-l="6"] {
            --hx-scoped-margin-l: 6px;
        }

        &[data-hx-margin-l="7"] {
            --hx-scoped-margin-l: 7px;
        }

        &[data-hx-margin-l="8"] {
            --hx-scoped-margin-l: 8px;
        }

        &[data-hx-margin-l="9"] {
            --hx-scoped-margin-l: 9px;
        }

        &[data-hx-margin-l="10"] {
            --hx-scoped-margin-l: 10px;
        }
    }

    &[data-hx-padding-x] {
        --hx-padding-x-none: var(--hx-padding-x-0);
        --hx-padding-x-xs: var(--hx-padding-x-4);
        --hx-padding-x-sm: var(--hx-padding-x-8);
        --hx-padding-x-md: var(--hx-padding-x-12);
        --hx-padding-x-lg: var(--hx-padding-x-16);
        --hx-padding-x-xl: var(--hx-padding-x-20);

        &[data-hx-padding-x=none] {
            --hx-scoped-padding-x: var(--hx-padding-x-none);
        }

        &[data-hx-padding-x=xs] {
            --hx-scoped-padding-x: var(--hx-padding-x-xs);
        }

        &[data-hx-padding-x=sm] {
            --hx-scoped-padding-x: var(--hx-padding-x-sm);
        }

        &[data-hx-padding-x=md] {
            --hx-scoped-padding-x: var(--hx-padding-x-md);
        }

        &[data-hx-padding-x=lg] {
            --hx-scoped-padding-x: var(--hx-padding-x-lg);
        }

        &[data-hx-padding-x=xl] {
            --hx-scoped-padding-x: var(--hx-padding-x-xl);
        }
    }

    &[data-hx-padding-y] {
        --hx-padding-y-none: var(--hx-padding-y-0);
        --hx-padding-y-xs: var(--hx-padding-y-4);
        --hx-padding-y-sm: var(--hx-padding-y-8);
        --hx-padding-y-md: var(--hx-padding-y-12);
        --hx-padding-y-lg: var(--hx-padding-y-16);
        --hx-padding-y-xl: var(--hx-padding-y-20);

        &[data-hx-padding-y=none] {
            --hx-scoped-padding-y: var(--hx-padding-y-none);
        }

        &[data-hx-padding-y=xs] {
            --hx-scoped-padding-y: var(--hx-padding-y-xs);
        }

        &[data-hx-padding-y=sm] {
            --hx-scoped-padding-y: var(--hx-padding-y-sm);
        }

        &[data-hx-padding-y=md] {
            --hx-scoped-padding-y: var(--hx-padding-y-md);
        }

        &[data-hx-padding-y=lg] {
            --hx-scoped-padding-y: var(--hx-padding-y-lg);
        }

        &[data-hx-padding-y=xl] {
            --hx-scoped-padding-y: var(--hx-padding-y-xl);
        }
    }

    &[data-hx-padding-t] {
        --hx-padding-t-none: var(--hx-padding-y-0);
        --hx-padding-t-xs: var(--hx-padding-y-4);
        --hx-padding-t-sm: var(--hx-padding-y-8);
        --hx-padding-t-md: var(--hx-padding-y-12);
        --hx-padding-t-lg: var(--hx-padding-y-16);
        --hx-padding-t-xl: var(--hx-padding-y-20);

        &[data-hx-padding-t=none] {
            --hx-scoped-padding-t: var(--hx-padding-t-none);
        }

        &[data-hx-padding-t=xs] {
            --hx-scoped-padding-t: var(--hx-padding-t-xs);
        }

        &[data-hx-padding-t=sm] {
            --hx-scoped-padding-t: var(--hx-padding-t-sm);
        }

        &[data-hx-padding-t=md] {
            --hx-scoped-padding-t: var(--hx-padding-t-md);
        }

        &[data-hx-padding-t=lg] {
            --hx-scoped-padding-t: var(--hx-padding-t-lg);
        }

        &[data-hx-padding-t=xl] {
            --hx-scoped-padding-t: var(--hx-padding-t-xl);
        }
    }

    &[data-hx-padding-b] {
        --hx-padding-b-none: var(--hx-padding-y-0);
        --hx-padding-b-xs: var(--hx-padding-y-4);
        --hx-padding-b-sm: var(--hx-padding-y-8);
        --hx-padding-b-md: var(--hx-padding-y-12);
        --hx-padding-b-lg: var(--hx-padding-y-16);
        --hx-padding-b-xl: var(--hx-padding-y-20);

        &[data-hx-padding-b=none] {
            --hx-scoped-padding-b: var(--hx-padding-b-none);
        }

        &[data-hx-padding-b=xs] {
            --hx-scoped-padding-b: var(--hx-padding-b-xs);
        }

        &[data-hx-padding-b=sm] {
            --hx-scoped-padding-b: var(--hx-padding-b-sm);
        }

        &[data-hx-padding-b=md] {
            --hx-scoped-padding-b: var(--hx-padding-b-md);
        }

        &[data-hx-padding-b=lg] {
            --hx-scoped-padding-b: var(--hx-padding-b-lg);
        }

        &[data-hx-padding-b=xl] {
            --hx-scoped-padding-b: var(--hx-padding-b-xl);
        }
    }

    &[data-hx-border][data-hx-border] { /* make selector has higher priority */
        --hx-scoped-border-width: var(--hx-border-width-1);
    }

    &[data-hx-border-color] {
        &[data-hx-border-color=primary] {
            --hx-scoped-border-color: var(--hx-primary-border-color);
        }

        &[data-hx-border-color=success] {
            --hx-scoped-border-color: var(--hx-success-border-color);
        }

        &[data-hx-border-color=danger] {
            --hx-scoped-border-color: var(--hx-danger-border-color);
        }

        &[data-hx-border-color=warn] {
            --hx-scoped-border-color: var(--hx-warn-border-color);
        }

        &[data-hx-border-color=info] {
            --hx-scoped-border-color: var(--hx-info-border-color);
        }

        &[data-hx-border-color=waive] {
            --hx-scoped-border-color: var(--hx-waive-border-color);
        }
    }

    &[data-hx-border-radius] {
        --hx-border-radius-none: var(--hx-border-radius-0);
        --hx-border-radius-xs: var(--hx-border-radius-2);
        --hx-border-radius-sm: var(--hx-border-radius-4);
        --hx-border-radius-md: var(--hx-border-radius-6);
        --hx-border-radius-lg: var(--hx-border-radius-8);
        --hx-border-radius-xl: var(--hx-border-radius-10);

        border-radius: var(--hx-scoped-border-radius);

        &[data-hx-border-radius=none] {
            --hx-scoped-border-radius: var(--hx-border-radius-none);
        }

        &[data-hx-border-radius=xs] {
            --hx-scoped-border-radius: var(--hx-border-radius-xs);
        }

        &[data-hx-border-radius=sm] {
            --hx-scoped-border-radius: var(--hx-border-radius-sm);
        }

        &[data-hx-border-radius=md] {
            --hx-scoped-border-radius: var(--hx-border-radius-md);
        }

        &[data-hx-border-radius=lg] {
            --hx-scoped-border-radius: var(--hx-border-radius-lg);
        }

        &[data-hx-border-radius=xl] {
            --hx-scoped-border-radius: var(--hx-border-radius-xl);
        }

        &[data-hx-border-radius=atomic] {
            --hx-scoped-border-radius: var(--hx-border-radius-atomic);
        }
    }

    &[data-hx-cell-gap-x] {
        --hx-cell-gap-x-none: var(--hx-gap-x-0);
        --hx-cell-gap-x-xs: var(--hx-gap-x-8);
        --hx-cell-gap-x-sm: var(--hx-gap-x-16);
        --hx-cell-gap-x-md: var(--hx-gap-x-24);
        --hx-cell-gap-x-lg: var(--hx-gap-x-32);
        --hx-cell-gap-x-xl: var(--hx-gap-x-40);

        &[data-hx-cell-gap-x=none] { /* x-axis */
            --hx-scoped-cell-gap-x: var(--hx-cell-gap-x-none);
        }

        &[data-hx-cell-gap-x=xs] {
            --hx-scoped-cell-gap-x: var(--hx-cell-gap-x-xs);
        }

        &[data-hx-cell-gap-x=sm] {
            --hx-scoped-cell-gap-x: var(--hx-cell-gap-x-sm);
        }

        &[data-hx-cell-gap-x=md] {
            --hx-scoped-cell-gap-x: var(--hx-cell-gap-x-md);
        }

        &[data-hx-cell-gap-x=lg] {
            --hx-scoped-cell-gap-x: var(--hx-cell-gap-x-lg);
        }

        &[data-hx-cell-gap-x=xl] {
            --hx-scoped-cell-gap-x: var(--hx-cell-gap-x-xl);
        }
    }

    &[data-hx-cell-gap-y] {
        --hx-cell-gap-y-none: var(--hx-gap-y-0);
        --hx-cell-gap-y-xs: var(--hx-gap-y-4);
        --hx-cell-gap-y-sm: var(--hx-gap-y-8);
        --hx-cell-gap-y-md: var(--hx-gap-y-12);
        --hx-cell-gap-y-lg: var(--hx-gap-y-16);
        --hx-cell-gap-y-xl: var(--hx-gap-y-20);

        &[data-hx-cell-gap-y=none] { /* y-axis */
            --hx-scoped-cell-gap-y: var(--hx-cell-gap-y-none);
        }

        &[data-hx-cell-gap-y=xs] {
            --hx-scoped-cell-gap-y: var(--hx-cell-gap-y-xs);
        }

        &[data-hx-cell-gap-y=sm] {
            --hx-scoped-cell-gap-y: var(--hx-cell-gap-y-sm);
        }

        &[data-hx-cell-gap-y=md] {
            --hx-scoped-cell-gap-y: var(--hx-cell-gap-y-md);
        }

        &[data-hx-cell-gap-y=lg] {
            --hx-scoped-cell-gap-y: var(--hx-cell-gap-y-lg);
        }

        &[data-hx-cell-gap-y=xl] {
            --hx-scoped-cell-gap-y: var(--hx-cell-gap-y-xl);
        }
    }

    &[data-hx-align-items] {
        &[data-hx-align-items=start] {
            --hx-scoped-align-items: start;
        }

        &[data-hx-align-items=end] {
            --hx-scoped-align-items: end;
        }

        &[data-hx-align-items=center] {
            --hx-scoped-align-items: center;
        }

        &[data-hx-align-items=stretch] {
            --hx-scoped-align-items: stretch;
        }

        &[data-hx-align-items=baseline] {
            --hx-scoped-align-items: baseline;
        }
    }

    &[data-hx-align-content] {
        &[data-hx-align-content=start] {
            --hx-scoped-align-content: start;
        }

        &[data-hx-align-content=end] {
            --hx-scoped-align-content: end;
        }

        &[data-hx-align-content=center] {
            --hx-scoped-align-content: center;
        }

        &[data-hx-align-content=stretch] {
            --hx-scoped-align-content: stretch;
        }

        &[data-hx-align-content=space-between] {
            --hx-scoped-align-content: space-between;
        }

        &[data-hx-align-content=space-around] {
            --hx-scoped-align-content: space-around;
        }

        &[data-hx-align-content=space-evenly] {
            --hx-scoped-align-content: space-evenly;
        }
    }

    &[data-hx-justify-items] {
        &[data-hx-justify-items=start] {
            --hx-scoped-justify-items: start;
        }

        &[data-hx-justify-items=end] {
            --hx-scoped-justify-items: end;
        }

        &[data-hx-justify-items=center] {
            --hx-scoped-justify-items: center;
        }

        &[data-hx-justify-items=stretch] {
            --hx-scoped-justify-items: stretch;
        }
    }

    &[data-hx-justify-content] {
        &[data-hx-justify-content=start] {
            --hx-scoped-justify-content: start;
        }

        &[data-hx-justify-content=end] {
            --hx-scoped-justify-content: end;
        }

        &[data-hx-justify-content=center] {
            --hx-scoped-justify-content: center;
        }

        &[data-hx-justify-content=stretch] {
            --hx-scoped-justify-content: stretch;
        }

        &[data-hx-justify-content=space-between] {
            --hx-scoped-justify-content: space-between;
        }

        &[data-hx-justify-content=space-around] {
            --hx-scoped-justify-content: space-around;
        }

        &[data-hx-justify-content=space-evenly] {
            --hx-scoped-justify-content: space-evenly;
        }
    }
}
