div[data-hx-root] div[data-hx-dtp],
div[data-hx-portal-root] div[data-hx-dtp] {
    --hx-dtp-color: var(--hx-text-color);
    --hx-dtp-disabled-text-color: var(--hx-disabled-text-color);
    --hx-dtp-background-color: var(--hx-background-color);
    --hx-dtp-disabled-background-color: var(--hx-disabled-background-color);
    --hx-dtp-font-family: var(--hx-font-family);
    --hx-dtp-font-size: var(--hx-font-size-sm);
    --hx-dtp-font-weight: var(--hx-font-weight);
    --hx-dtp-font-style: var(--hx-font-style);
    --hx-dtp-height: var(--hx-one-height);
    --hx-dtp-line-height: var(--hx-one-line-height);
    --hx-dtp-padding-y: var(--hx-text-padding-y-atomic);
    --hx-dtp-padding-x: var(--hx-text-indent);
    --hx-dtp-border-width: var(--hx-border-width-1);
    --hx-dtp-border-color: var(--hx-border-color);
    --hx-dtp-border-style: solid;
    --hx-dtp-border-radius: var(--hx-border-radius-atomic);
    --hx-dtp-hover-border-color: var(--hx-hover-border-color);
    --hx-dtp-focus-border-color: var(--hx-focus-border-color);
    --hx-dtp-disabled-border-color: var(--hx-disabled-border-color);
    --hx-dtp-transition: var(--hx-transition-all);
    --hx-dtp-icon-size: calc(var(--hx-dtp-height) / 4 * 3);
    --hx-dtp-icon-calendar-svg-size: calc(var(--hx-dtp-height) * 0.4375);
    --hx-dtp-icon-calendar-margin-block-start: 0;
    --hx-dtp-icon-calendar-margin-block-end: 0;
    --hx-dtp-icon-calendar-margin-inline-start: calc(var(--hx-dtp-height) / 8);
    --hx-dtp-icon-calendar-margin-inline-end: calc(var(--hx-dtp-height) / -8);
    --hx-dtp-icon-clear-svg-size: calc(var(--hx-dtp-height) * 0.40625);
    --hx-dtp-icon-clear-svg-margin: 1px 0 0 0;
    --hx-dtp-icon-clear-margin-block-start: calc(var(--hx-dtp-height) / 16);
    --hx-dtp-icon-clear-margin-block-end: 0;
    --hx-dtp-icon-clear-margin-inline-start: calc(var(--hx-dtp-height) / 8);
    --hx-dtp-icon-clear-margin-inline-end: calc(var(--hx-dtp-height) / -4);
    --hx-dtp-icon-clear-opacity: 0.5;
    --hx-dtp-icon-clear-hover-opacity: 1;
    --hx-dtp-icon-clear-focus-opacity: 1;

    box-sizing: border-box;

    font-family: var(--hx-dtp-font-family), system-ui;
    font-size: var(--hx-dtp-font-size);
    font-weight: var(--hx-dtp-font-weight);
    font-style: var(--hx-dtp-font-style);
    color: var(--hx-dtp-color);
    background-color: var(--hx-dtp-background-color);

    &:not([data-hx-visible=no]) {
        display: flex;
    }

    align-items: center;
    height: var(--hx-dtp-height);
    line-height: var(--hx-dtp-line-height);

    padding: var(--hx-dtp-padding-y) var(--hx-dtp-padding-x);
    padding-inline: var(--hx-dtp-padding-x);
    padding-block: var(--hx-dtp-padding-y);

    outline: none;
    border-width: var(--hx-dtp-border-width);
    border-color: var(--hx-dtp-border-color);
    border-style: var(--hx-dtp-border-style);
    border-radius: var(--hx-dtp-border-radius);

    cursor: pointer;
    transition: var(--hx-dtp-transition);

    &:hover {
        border-color: var(--hx-dtp-hover-border-color);

        > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=calendar] {
            color: var(--hx-dtp-hover-border-color);
        }

        > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=clear] {
            color: var(--hx-danger-hover-color);
            opacity: var(--hx-dtp-icon-clear-hover-opacity);
        }
    }

    &:focus, &:focus-within,
    &:focus:hover, &:focus-within:hover,
    &[data-hx-focus], &[data-hx-focus]:hover {
        border-color: var(--hx-dtp-focus-border-color);

        > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=calendar] {
            color: var(--hx-dtp-focus-border-color);
        }

        > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=clear] {
            color: var(--hx-danger-focus-color);
            opacity: var(--hx-dtp-icon-clear-focus-opacity);
        }
    }

    &:disabled,
    &[data-hx-disabled],
    &[data-hx-disabled]:disabled {
        background-color: var(--hx-dtp-disabled-background-color);
        color: var(--hx-dtp-disabled-text-color);
        border-color: var(--hx-dtp-disabled-border-color);
        cursor: not-allowed;

        &:hover {
            border-color: var(--hx-dtp-disabled-border-color);
        }

        * {
            cursor: not-allowed;
        }

        > span[data-hx-label] {
            color: inherit;
        }

        > button[data-hx-button-input-embed][data-hx-dtp-icon]:disabled,
        > button[data-hx-button-input-embed][data-hx-dtp-icon][data-hx-disabled],
        > button[data-hx-button-input-embed][data-hx-dtp-icon][data-hx-disabled]:disabled {
            > svg {
                color: var(--hx-dtp-disabled-border-color);
            }
        }
    }

    > span[data-hx-label] {
        cursor: inherit;
        flex: 1;
    }

    > button[data-hx-button-input-embed] {
        border: 0;
    }

    > button[data-hx-button-input-embed][data-hx-dtp-icon=calendar] {
        color: var(--hx-dtp-border-color);
        margin: var(--hx-dtp-icon-calendar-margin-block-start) var(--hx-dtp-icon-calendar-margin-inline-end) var(--hx-dtp-icon-calendar-margin-block-end) var(--hx-dtp-icon-calendar-margin-inline-start);
        margin-inline: var(--hx-dtp-icon-calendar-margin-inline-start) var(--hx-dtp-icon-calendar-margin-inline-end);
        margin-block: var(--hx-dtp-icon-calendar-margin-block-start) var(--hx-dtp-icon-calendar-margin-block-end);

        > svg {
            height: var(--hx-dtp-icon-calendar-svg-size);
            width: var(--hx-dtp-icon-calendar-svg-size);
        }
    }

    > button[data-hx-color][data-hx-button-variant][data-hx-dtp-icon=clear] {
        color: var(--hx-danger-color);
        margin: var(--hx-dtp-icon-clear-margin-block-start) var(--hx-dtp-icon-clear-margin-inline-end) var(--hx-dtp-icon-clear-margin-block-end) var(--hx-dtp-icon-clear-margin-inline-start);
        margin-inline: var(--hx-dtp-icon-clear-margin-inline-start) var(--hx-dtp-icon-clear-margin-inline-end);
        margin-block: var(--hx-dtp-icon-clear-margin-block-start) var(--hx-dtp-icon-clear-margin-block-end);
        opacity: var(--hx-dtp-icon-clear-opacity);

        > svg {
            height: var(--hx-dtp-icon-clear-svg-size);
            width: var(--hx-dtp-icon-clear-svg-size);
            margin: var(--hx-dtp-icon-clear-svg-margin);
            margin-inline: var(--hx-dtp-icon-clear-svg-margin);
            margin-block: var(--hx-dtp-icon-clear-svg-margin);
        }
    }
}

/** popup */
div[data-hx-portal-root] div[data-hx-popup] {
    &[data-hx-popup-for-dtp] {
        --hx-dtp-panel-padding-v: var(--hx-padding-x-8);
        --hx-dtp-panel-padding-h: var(--hx-padding-x-12);
        --hx-dtp-panel-header-btn-width: var(--hx-one-height);
        --hx-dtp-panel-header-btn-hover-color: var(--hx-primary-hover-color);
        --hx-dtp-panel-days-grid-gap: 2px;
        --hx-dtp-panel-days-grid-cell-width: calc(var(--hx-one-height) * 1.5);
        --hx-dtp-panel-days-grid-cell-height: var(--hx-one-height);
        --hx-dtp-panel-weekday-font-weight: var(--hx-font-weight-semi-bold);
        --hx-dtp-panel-weekend-color: var(--hx-weekend-color);

        > div[data-hx-dtp-panel] {
            display: flex;
            flex-direction: column;
            padding: var(--hx-dtp-panel-padding-v) var(--hx-dtp-panel-padding-h);
            padding-block: var(--hx-dtp-panel-padding-v);
            padding-inline: var(--hx-dtp-panel-padding-h);

            > div[data-hx-dtp-panel-header] {
                display: flex;

                > span[data-hx-dtp-panel-btn=prev-year],
                > span[data-hx-dtp-panel-btn=prev-month],
                > span[data-hx-dtp-panel-btn=next-month],
                > span[data-hx-dtp-panel-btn=next-year] {
                    justify-content: center;
                    min-width: var(--hx-dtp-panel-header-btn-width);

                    &:hover {
                        color: var(--hx-dtp-panel-header-btn-hover-color);
                    }
                }

                > span[data-hx-dtp-panel-btn=year],
                > span[data-hx-dtp-panel-btn=month] {
                    flex-grow: 1;

                    &:hover {
                        color: var(--hx-dtp-panel-header-btn-hover-color);
                    }
                }

                > span[data-hx-dtp-panel-btn=year] {
                }

                > span[data-hx-dtp-panel-btn=month] {
                    justify-content: flex-end;
                }
            }

            > div[data-hx-dtp-panel-days] {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                row-gap: var(--hx-dtp-panel-days-grid-gap);
                column-gap: var(--hx-dtp-panel-days-grid-gap);

                > span[data-hx-label] {
                    justify-content: center;
                    min-width: var(--hx-dtp-panel-days-grid-cell-width);
                    height: var(--hx-dtp-panel-days-grid-cell-height);

                    &[data-hx-dtp-panel-weekday-label] {
                        font-weight: var(--hx-dtp-panel-weekday-font-weight);

                        &[data-hx-dtp-panel-weekend] {
                            color: var(--hx-dtp-panel-weekend-color)
                        }
                    }
                }
            }
        }
    }
}
