div[data-hx-root] div[data-hx-flex],
div[data-hx-portal-root] div[data-hx-flex] {
    --hx-flex-gap-x: var(--hx-gap-x-24);
    --hx-flex-gap-y: var(--hx-gap-y-0);
    --hx-flex-background-color: var(--hx-background-color);
    --hx-flex-padding-x: var(--hx-padding-x-0);
    --hx-flex-padding-t: var(--hx-padding-y-0);
    --hx-flex-padding-b: var(--hx-padding-y-0);
    --hx-flex-border-width-none: var(--hx-border-width-0);
    --hx-flex-border-color: var(--hx-border-color-light);
    --hx-flex-border-style: solid;
    --hx-flex-border-radius: var(--hx-border-radius-container);
    --hx-flex-transition: var(--hx-transition-all);

    --hx-justify-content: normal;
    --hx-align-items: normal;
    --hx-align-content: normal;
    --hx-cell-gap-x: var(--hx-flex-gap-x);
    --hx-cell-gap-y: var(--hx-flex-gap-y);
    --hx-padding-x: var(--hx-flex-padding-x);
    --hx-padding-t: var(--hx-flex-padding-t);
    --hx-padding-b: var(--hx-flex-padding-b);
    --hx-border-width: var(--hx-flex-border-width-none);
    --hx-border-radius: var(--hx-flex-border-radius);

    background-color: var(--hx-flex-background-color);

    /* Base flex layout: horizontal direction by default, auto wrap, normal alignment */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: var(--hx-justify-content);
    align-items: var(--hx-align-items);
    align-content: var(--hx-align-content);
    column-gap: var(--hx-cell-gap-x);
    row-gap: var(--hx-cell-gap-y);

    margin: 0;
    padding: var(--hx-padding-t) var(--hx-padding-x) var(--hx-padding-b);

    border-width: var(--hx-border-width);
    border-color: var(--hx-flex-border-color);
    border-style: var(--hx-flex-border-style);
    border-radius: var(--hx-border-radius);

    overflow: hidden;
    transition: var(--hx-flex-transition);

    /* Vertical layout mode */

    &[data-hx-flex-direction=dir-y] {
        flex-direction: column;
    }

    &[data-hx-flex-wrap] {
        flex-wrap: wrap;
    }
}
