div[data-hx-root] input[data-hx-input] {
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: var(--hx-input-font-family), system-ui;
    font-size: var(--hx-input-font-size); /* prevent iOS zoom */
    font-weight: var(--hx-input-font-weight);
    font-style: var(--hx-input-font-style);
    color: var(--hx-input-color);
    background-color: var(--hx-input-background-color);

    display: flex;
    align-items: center;
    height: var(--hx-input-height);
    line-height: var(--hx-input-line-height);
    margin: 0;
    padding: var(--hx-input-padding-v) var(--hx-input-padding-h);

    outline: none;
    border-width: var(--hx-input-border-width);
    border-color: var(--hx-input-border-color);
    border-style: var(--hx-input-border-style);
    border-radius: var(--hx-input-border-radius);
    box-shadow: var(--hx-input-box-shadow);

    cursor: text;
    transition: all 0.3s ease-in-out;
}

div[data-hx-root] input[data-hx-input]:hover {
    box-shadow: var(--hx-input-hover-box-shadow);
}


div[data-hx-root] input[data-hx-input]:focus,
div[data-hx-root] input[data-hx-input]:focus:hover {
    box-shadow: var(--hx-input-focus-box-shadow);
}

div[data-hx-root] input[data-hx-input]:disabled,
div[data-hx-root] input[data-hx-input][data-hx-disabled]:disabled {
    background-color: var(--hx-input-disabled-background-color);
    color: var(--hx-input-disabled-text-color);
    box-shadow: var(--hx-input-disabled-box-shadow);
    cursor: not-allowed;
}

div[data-hx-root] input[data-hx-input]:disabled:hover,
div[data-hx-root] input[data-hx-input][data-hx-disabled]:disabled:hover {
    box-shadow: var(--hx-input-disabled-box-shadow);
}

div[data-hx-root] input[data-hx-input][readonly],
div[data-hx-root] input[data-hx-input][data-hx-readonly][readonly] {
    background-color: var(--hx-input-readonly-background-color);
    color: var(--hx-input-readonly-text-color);
    box-shadow: var(--hx-input-disabled-box-shadow);
    cursor: not-allowed;
}

div[data-hx-root] input[data-hx-input]:disabled:hover,
div[data-hx-root] input[data-hx-input][data-hx-disabled]:disabled:hover {
    box-shadow: var(--hx-input-readonly-box-shadow);
}


/* remove number input up/down arrows */
div[data-hx-root] input[data-hx-input][type="number"]::-webkit-inner-spin-button,
div[data-hx-root] input[data-hx-input][type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

div[data-hx-root] input[data-hx-input][type="number"] {
    -moz-appearance: textfield;
}

/* remove search input clear button, for some browsers */
div[data-hx-root] input[data-hx-input][type="search"]::-webkit-search-decoration,
div[data-hx-root] input[data-hx-input][type="search"]::-webkit-search-cancel-button,
div[data-hx-root] input[data-hx-input][type="search"]::-webkit-search-results-button,
div[data-hx-root] input[data-hx-input][type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* remove date input calender icon */
div[data-hx-root] input[data-hx-input][type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
