div[data-hx-root] input[data-hx-input],
div[data-hx-portal-root] input[data-hx-input] {
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: var(--hx-input-font-family), system-ui;
    font-size: var(--hx-input-font-size);
    font-weight: var(--hx-input-font-weight);
    font-style: var(--hx-input-font-style);
    color: var(--hx-input-color);
    background-color: var(--hx-input-background-color);

    display: flex;
    align-items: center;
    height: var(--hx-input-height);
    line-height: var(--hx-input-line-height);
    margin: 0;
    padding: var(--hx-input-padding-y) var(--hx-input-padding-x);

    outline: none;
    border-width: var(--hx-input-border-width);
    border-color: var(--hx-input-border-color);
    border-style: var(--hx-input-border-style);
    border-radius: var(--hx-input-border-radius);

    cursor: text;
    transition: var(--hx-input-transition);

    &:hover {
        border-color: var(--hx-input-hover-border-color);
    }

    &:focus,
    &:focus:hover {
        border-color: var(--hx-input-focus-border-color);
    }

    &:disabled,
    &[data-hx-disabled=true],
    &[data-hx-disabled=true]:disabled {
        background-color: var(--hx-input-disabled-background-color);
        color: var(--hx-input-disabled-text-color);
        border-color: var(--hx-input-disabled-border-color);
        cursor: not-allowed;

        &:hover {
            border-color: var(--hx-input-disabled-border-color);
        }
    }

    &[readonly],
    &[data-hx-readonly][readonly] {
        background-color: var(--hx-input-readonly-background-color);
        color: var(--hx-input-readonly-text-color);
        border-color: var(--hx-input-readonly-border-color);
        cursor: not-allowed;

        &:hover {
            border-color: var(--hx-input-hover-border-color);
        }

        &:focus,
        &:focus:hover {
            border-color: var(--hx-input-focus-border-color);
        }
    }

    &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            /* remove number input up/down arrows */
            -webkit-appearance: none;
        }
    }

    &[type="search"] {
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            /* remove search input clear button, for some browsers */
            display: none;
        }
    }

    &[type="date"]::-webkit-calendar-picker-indicator {
        /* remove date input calender icon */
        display: none;
    }
}
