div[data-hx-root] div[data-hx-input-box],
div[data-hx-portal-root] div[data-hx-input-box] {
    --hx-input-color: var(--hx-text-color);
    --hx-input-disabled-text-color: var(--hx-text-color-disabled);
    --hx-input-readonly-text-color: var(--hx-text-color-readonly);
    --hx-input-bg-color: var(--hx-bg-color);
    --hx-input-disabled-bg-color: var(--hx-bg-color-disabled);
    --hx-input-readonly-bg-color: var(--hx-bg-color-readonly);
    --hx-input-placeholder-color: var(--hx-text-color-placeholder);
    --hx-input-font-family: var(--hx-font-family);
    --hx-input-font-size: var(--hx-font-size-sm);
    --hx-input-font-weight: var(--hx-font-weight);
    --hx-input-font-style: var(--hx-font-style);
    --hx-input-height: var(--hx-height-100);
    --hx-input-line-height: var(--hx-line-height-100);
    --hx-input-padding-y: var(--hx-padding-y-text-100-border);
    --hx-input-padding-x: var(--hx-text-indent);
    --hx-input-border-width: var(--hx-border-width-1);
    --hx-input-border-color: var(--hx-border-color);
    --hx-input-border-style: solid;
    --hx-input-border-radius: var(--hx-border-radius-atomic);
    --hx-input-hover-border-color: var(--hx-border-color-hover);
    --hx-input-focus-border-color: var(--hx-border-color-focus);
    --hx-input-disabled-border-color: var(--hx-border-color-disabled);
    --hx-input-readonly-border-color: var(--hx-border-color-readonly);
    --hx-input-transition: var(--hx-transition-all);

    background-color: var(--hx-input-bg-color);

    &:not([data-hx-visible=no]) {
        display: flex;
    }
    
    flex-direction: row;
    align-items: center;
    height: var(--hx-input-height);

    border-width: var(--hx-input-border-width);
    border-color: var(--hx-input-border-color);
    border-style: var(--hx-input-border-style);
    border-radius: var(--hx-input-border-radius);

    transition: var(--hx-input-transition);

    &:hover {
        border-color: var(--hx-input-hover-border-color);

        > span[data-hx-label-input-embed][data-hx-label-svg-icon] > svg {
            color: var(--hx-input-hover-border-color);
        }
    }

    &:focus-within,
    &:focus-within:hover {
        border-color: var(--hx-input-focus-border-color);

        > span[data-hx-label-input-embed][data-hx-label-svg-icon] > svg {
            color: var(--hx-input-focus-border-color);
        }
    }

    &[data-hx-disabled] {
        background-color: var(--hx-input-disabled-bg-color);

        > span[data-hx-label-input-embed][data-hx-label-svg-icon] > svg {
            color: var(--hx-input-disabled-border-color);
        }
    }

    &[data-hx-readonly] {
        background-color: var(--hx-input-readonly-bg-color);

        > span[data-hx-label-input-embed][data-hx-label-svg-icon] > svg {
            color: var(--hx-input-readonly-border-color);
        }
    }

    > span[data-hx-label-input-embed][data-hx-label-svg-icon] {
        > svg {
            color: var(--hx-input-border-color);
        }

        + input[data-hx-input-inbox] {
            padding-left: 0;
            padding-inline-start: 0;
        }
    }

    > input[data-hx-input-inbox] {
        flex-grow: 1;
        height: 100%;
        border-width: 0;

        &:not([value=""]) {
            + span[data-hx-label-input-placeholder] {
                display: none;
            }
        }

        &:has(+ span[data-hx-label-input-embed][data-hx-label-svg-icon]) {
            padding-right: 0;
            padding-inline-end: 0;
        }
    }

    > span[data-hx-label-input-placeholder] {
        /* noinspection CssNoGenericFontName */
        font-family: var(--hx-input-font-family);
        font-size: var(--hx-input-font-size);
        font-weight: var(--hx-input-font-weight);
        font-style: var(--hx-input-font-style);
        color: var(--hx-input-placeholder-color);

        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: var(--hx-input-line-height);

        padding: var(--hx-input-padding-y) var(--hx-input-padding-x);
        padding-inline: var(--hx-input-padding-x);
        padding-block: var(--hx-input-padding-y);

        outline: none;
        border-width: 0;
        border-color: transparent;
        border-style: var(--hx-input-border-style);

        overflow: hidden;
        pointer-events: none;
    }
}
