div[data-hx-root] span[data-hx-label],
div[data-hx-portal-root] span[data-hx-label] {
    --hx-label-color: var(--hx-text-color);
    --hx-label-disabled-color: var(--hx-disabled-text-color);
    --hx-label-background-color: var(--hx-background-color);
    --hx-label-hover-background-color: var(--hx-hover-background-color);
    --hx-label-active-background-color: var(--hx-active-background-color);
    --hx-label-placholder-color: var(--hx-placeholder-color);
    --hx-label-font-family: var(--hx-font-family);
    --hx-label-font-size: var(--hx-font-size-sm);
    --hx-label-font-weight: var(--hx-font-weight);
    --hx-label-font-style: var(--hx-font-style);
    --hx-label-height: var(--hx-one-height);
    --hx-label-line-height: var(--hx-one-line-height);
    --hx-label-padding-y: var(--hx-label-padding-y-atomic);
    --hx-label-padding-x: var(--hx-text-padding-x-0);
    --hx-label-border-width: var(--hx-border-width-1);
    --hx-label-input-embed-height: calc(var(--hx-one-height) - var(--hx-border-width-1) * 2);
    --hx-label-transition: var(--hx-transition-all);

    --hx-scoped-padding-x: var(--hx-label-padding-x);
    --hx-scoped-padding-y: var(--hx-label-padding-y);

    box-sizing: border-box;

    font-family: var(--hx-label-font-family), system-ui;
    font-size: var(--hx-label-font-size);
    font-weight: var(--hx-label-font-weight);
    font-style: var(--hx-label-font-style);
    color: var(--hx-label-color);

    display: inline-flex;
    align-items: center;
    min-height: var(--hx-label-height);
    line-height: var(--hx-label-line-height);

    padding: var(--hx-scoped-padding-y) var(--hx-scoped-padding-x);
    padding-inline: var(--hx-scoped-padding-x);
    padding-block: var(--hx-scoped-padding-y);

    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;

    transition: var(--hx-transition-all);

    &[data-hx-disabled] {
        color: var(--hx-label-disabled-color);
        cursor: not-allowed;

        &[data-hx-label-opaque],
        &[data-hx-color],
        &[data-hx-label-opaque][data-hx-color],
        &[data-hx-label-clickable],
        &[data-hx-label-hoverable]:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover,
        &[data-hx-label-active],
        &[data-hx-label-active]:hover {
            color: var(--hx-label-disabled-color);
            background-color: unset;
            cursor: not-allowed;
        }
    }

    &[data-hx-color=primary] {
        color: var(--hx-primary-color);
    }

    &[data-hx-color=success] {
        color: var(--hx-success-color);
    }

    &[data-hx-color=danger] {
        color: var(--hx-danger-color);
    }

    &[data-hx-color=warn] {
        color: var(--hx-warn-color);
    }

    &[data-hx-color=info] {
        color: var(--hx-info-color);
    }

    &[data-hx-color=waive] {
        color: var(--hx-waive-color);
    }

    &[data-hx-label-opaque] {
        background-color: var(--hx-label-background-color);

        &[data-hx-color=primary] {
            color: var(--hx-primary-contrast-color);
            background-color: var(--hx-primary-color);
        }

        &[data-hx-color=success] {
            color: var(--hx-success-contrast-color);
            background-color: var(--hx-success-color);
        }

        &[data-hx-color=danger] {
            color: var(--hx-danger-contrast-color);
            background-color: var(--hx-danger-color);
        }

        &[data-hx-color=warn] {
            color: var(--hx-warn-contrast-color);
            background-color: var(--hx-warn-color);
        }

        &[data-hx-color=info] {
            color: var(--hx-info-contrast-color);
            background-color: var(--hx-info-color);
        }

        &[data-hx-color=waive] {
            color: var(--hx-waive-contrast-color);
            background-color: var(--hx-waive-color);
        }
    }

    &[data-hx-label-clickable] {
        cursor: pointer;
    }

    &[data-hx-label-hoverable]:hover {
        background-color: var(--hx-label-hover-background-color);
    }

    &[data-hx-hover],
    &[data-hx-hover]:hover {
        background-color: var(--hx-label-hover-background-color);
    }

    &[data-hx-label-active],
    &[data-hx-label-active]:hover {
        background-color: var(--hx-label-active-background-color);
    }

    &[data-hx-label-input-placeholder] {
        color: var(--hx-label-placholder-color);
    }

    &[data-hx-label-text-indent] {
        padding-left: var(--hx-text-indent);
        padding-inline-start: var(--hx-text-indent);
        padding-right: var(--hx-text-indent);
        padding-inline-end: var(--hx-text-indent);
    }

    &[data-hx-label-input-embed] {
        display: inline-block;
        min-height: unset;
        height: var(--hx-label-input-embed-height);
        padding-top: var(--hx-text-padding-y-atomic);
        padding-block-start: var(--hx-text-padding-y-atomic);
        padding-bottom: var(--hx-text-padding-y-atomic);

        &[data-hx-label-svg-icon] {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: var(--hx-label-input-embed-height);
            padding: 0;
            padding-inline: 0;
            padding-block: 0;
        }
    }

    &[data-hx-label-check-msg] {
        --hx-wcm-label-font-size: var(--hx-font-size-xs);
        --hx-wcm-label-min-height: var(--hx-08-height);
        --hx-wcm-label-line-height: var(--hx-08-line-height);
        --hx-wcm-label-padding-y: var(--hx-text-padding-y-atomic);
        --hx-wcm-label-padding-x: var(--hx-text-padding-x-0);

        font-size: var(--hx-wcm-label-font-size);

        min-height: var(--hx-wcm-label-min-height);
        height: auto;
        line-height: var(--hx-wcm-label-line-height);
        padding: var(--hx-wcm-label-padding-y) var(--hx-wcm-label-padding-x);
        padding-inline: var(--hx-wcm-label-padding-x);
        padding-block: var(--hx-wcm-label-padding-y);
    }
}
