div[data-hx-root] span[data-hx-label],
div[data-hx-portal-root] span[data-hx-label] {
    --hx-label-color: var(--hx-text-color);
    --hx-label-background-color: var(--hx-background-color);
    --hx-label-hover-background-color: var(--hx-hover-background-color);
    --hx-label-active-background-color: var(--hx-active-background-color);
    --hx-label-placholder-color: var(--hx-placeholder-color);
    --hx-label-font-family: var(--hx-font-family);
    --hx-label-font-size: var(--hx-font-size-sm);
    --hx-label-font-weight: var(--hx-font-weight);
    --hx-label-font-style: var(--hx-font-style);
    --hx-label-height: var(--hx-one-height);
    --hx-label-line-height: var(--hx-one-line-height);
    --hx-label-padding-y: var(--hx-text-padding-y-atomic);
    --hx-label-padding-y-none: var(--hx-padding-y-0);
    --hx-label-padding-y-xs: var(--hx-padding-y-4);
    --hx-label-padding-y-sm: var(--hx-padding-y-8);
    --hx-label-padding-y-md: var(--hx-padding-y-12);
    --hx-label-padding-y-lg: var(--hx-padding-y-16);
    --hx-label-padding-y-xl: var(--hx-padding-y-20);
    --hx-label-padding-x: var(--hx-text-padding-x-0);
    --hx-label-padding-x-none: var(--hx-padding-x-0);
    --hx-label-padding-x-xs: var(--hx-padding-x-4);
    --hx-label-padding-x-sm: var(--hx-padding-x-8);
    --hx-label-padding-x-md: var(--hx-padding-x-12);
    --hx-label-padding-x-lg: var(--hx-padding-x-16);
    --hx-label-padding-x-xl: var(--hx-padding-x-20);
    --hx-label-border-width: var(--hx-border-width-1);
    --hx-label-border-radius-none: var(--hx-border-radius-0);
    --hx-label-border-radius-xs: var(--hx-border-radius-2);
    --hx-label-border-radius-sm: var(--hx-border-radius-4);
    --hx-label-border-radius-md: var(--hx-border-radius-6);
    --hx-label-border-radius-lg: var(--hx-border-radius-8);
    --hx-label-border-radius-xl: var(--hx-border-radius-10);
    --hx-input-input-embed-height: calc(var(--hx-one-height) - var(--hx-border-width-1) * 2);

    box-sizing: border-box;

    font-family: var(--hx-label-font-family), system-ui;
    font-size: var(--hx-label-font-size);
    font-weight: var(--hx-label-font-weight);
    font-style: var(--hx-label-font-style);
    color: var(--hx-label-color);

    display: inline-flex;
    align-items: center;
    height: var(--hx-label-height);
    line-height: var(--hx-label-line-height);
    margin: 0;
    padding: var(--hx-label-padding-y) var(--hx-label-padding-x);

    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;

    &[data-hx-color=primary] {
        color: var(--hx-primary-color);
    }

    &[data-hx-color=success] {
        color: var(--hx-success-color);
    }

    &[data-hx-color=danger] {
        color: var(--hx-danger-color);
    }

    &[data-hx-color=warn] {
        color: var(--hx-warn-color);
    }

    &[data-hx-color=info] {
        color: var(--hx-info-color);
    }

    &[data-hx-color=waive] {
        color: var(--hx-waive-color);
    }

    &[data-hx-label-opaque] {
        background-color: var(--hx-label-background-color);

        &[data-hx-color=primary] {
            color: var(--hx-primary-contrast-color);
            background-color: var(--hx-primary-color);
        }

        &[data-hx-color=success] {
            color: var(--hx-success-contrast-color);
            background-color: var(--hx-success-color);
        }

        &[data-hx-color=danger] {
            color: var(--hx-danger-contrast-color);
            background-color: var(--hx-danger-color);
        }

        &[data-hx-color=warn] {
            color: var(--hx-warn-contrast-color);
            background-color: var(--hx-warn-color);
        }

        &[data-hx-color=info] {
            color: var(--hx-info-contrast-color);
            background-color: var(--hx-info-color);
        }

        &[data-hx-color=waive] {
            color: var(--hx-waive-contrast-color);
            background-color: var(--hx-waive-color);
        }
    }

    &[data-hx-label-border-radius=none] {
        border-radius: var(--hx-label-border-radius-none);
    }

    &[data-hx-label-border-radius=xs] {
        border-radius: var(--hx-label-border-radius-xs);
    }

    &[data-hx-label-border-radius=sm] {
        border-radius: var(--hx-label-border-radius-sm);
    }

    &[data-hx-label-border-radius=md] {
        border-radius: var(--hx-label-border-radius-md);
    }

    &[data-hx-label-border-radius=lg] {
        border-radius: var(--hx-label-border-radius-lg);
    }

    &[data-hx-label-border-radius=xl] {
        border-radius: var(--hx-label-border-radius-xl);
    }

    &[data-hx-label-padding-x=none] {
        padding-left: var(--hx-label-padding-x-none);
        padding-right: var(--hx-label-padding-x-none);
    }

    &[data-hx-label-padding-x=xs] {
        padding-left: var(--hx-label-padding-x-xs);
        padding-right: var(--hx-label-padding-x-xs);
    }

    &[data-hx-label-padding-x=sm] {
        padding-left: var(--hx-label-padding-x-sm);
        padding-right: var(--hx-label-padding-x-sm);
    }

    &[data-hx-label-padding-x=md] {
        padding-left: var(--hx-label-padding-x-md);
        padding-right: var(--hx-label-padding-x-md);
    }

    &[data-hx-label-padding-x=lg] {
        padding-left: var(--hx-label-padding-x-lg);
        padding-right: var(--hx-label-padding-x-lg);
    }

    &[data-hx-label-padding-x=xl] {
        padding-left: var(--hx-label-padding-x-xl);
        padding-right: var(--hx-label-padding-x-xl);
    }

    &[data-hx-label-padding-x=text-indent] {
        padding-left: var(--hx-text-indent);
        padding-right: var(--hx-text-indent);
    }

    &[data-hx-label-padding-y=none] {
        padding-top: var(--hx-label-padding-y-none);
        padding-bottom: var(--hx-label-padding-y-none);
    }

    &[data-hx-label-padding-y=xs] {
        padding-top: var(--hx-label-padding-y-xs);
        padding-bottom: var(--hx-label-padding-y-xs);
    }

    &[data-hx-label-padding-y=sm] {
        padding-top: var(--hx-label-padding-y-sm);
        padding-bottom: var(--hx-label-padding-y-sm);
    }

    &[data-hx-label-padding-y=md] {
        padding-top: var(--hx-label-padding-y-md);
        padding-bottom: var(--hx-label-padding-y-md);
    }

    &[data-hx-label-padding-y=lg] {
        padding-top: var(--hx-label-padding-y-lg);
        padding-bottom: var(--hx-label-padding-y-lg);
    }

    &[data-hx-label-padding-y=xl] {
        padding-top: var(--hx-label-padding-y-xl);
        padding-bottom: var(--hx-label-padding-y-xl);
    }

    &[data-hx-label-clickable] {
        cursor: pointer;
    }

    &[data-hx-label-hoverable]:hover {
        background-color: var(--hx-label-hover-background-color);
    }

    &[data-hx-label-hovered],
    &[data-hx-label-hovered]:hover {
        background-color: var(--hx-label-hover-background-color);
    }

    &[data-hx-label-active],
    &[data-hx-label-active]:hover {
        background-color: var(--hx-label-active-background-color);
    }

    &[data-hx-label-placholder] {
        color: var(--hx-label-placholder-color);
    }

    &[data-hx-label-input-embed] {
        display: inline-block;
        height: var(--hx-input-input-embed-height);
    }
}
