div[data-hx-root] span[data-hx-label],
div[data-hx-portal-root] span[data-hx-label] {
    box-sizing: border-box;

    font-family: var(--hx-label-font-family), system-ui;
    font-size: var(--hx-label-font-size);
    font-weight: var(--hx-label-font-weight);
    font-style: var(--hx-label-font-style);
    color: var(--hx-label-color);

    display: flex;
    align-items: center;
    height: var(--hx-label-height);
    line-height: var(--hx-label-line-height);
    margin: 0;
    padding: var(--hx-label-padding-y) var(--hx-label-padding-x);

    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;

    &[data-hx-color=primary] {
        color: var(--hx-primary-color);
    }

    &[data-hx-color=success] {
        color: var(--hx-success-color);
    }

    &[data-hx-color=danger] {
        color: var(--hx-danger-color);
    }

    &[data-hx-color=warn] {
        color: var(--hx-warn-color);
    }

    &[data-hx-color=info] {
        color: var(--hx-info-color);
    }

    &[data-hx-color=waive] {
        color: var(--hx-waive-color);
    }
}
