div[data-hx-root] div[data-hx-m-checkbox],
div[data-hx-portal-root] div[data-hx-m-checkbox] {
    --hx-m-checkbox-gap-x: var(--hx-gap-x-8);
    --hx-m-checkbox-gap-y: var(--hx-gap-y-0);
    --hx-m-checkbox-transition: var(--hx-transition-all);

    --hx-cell-gap-x: var(--hx-m-checkbox-gap-x);
    --hx-cell-gap-y: var(--hx-m-checkbox-gap-y);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: var(--hx-cell-gap-x);
    row-gap: var(--hx-cell-gap-y);

    margin: 0;
    padding: 0;

    overflow: hidden;
    transition: var(--hx-m-checkbox-transition);

    &[data-hx-m-checkbox-direction=dir-x] {
        flex-direction: row;
    }

    &[data-hx-m-checkbox-lanes] {
        display: grid;

        &[data-hx-m-checkbox-lanes="1"] {
            --grid-template-lanes: 1;
        }

        &[data-hx-m-checkbox-lanes="2"] {
            --grid-template-lanes: 2;
        }

        &[data-hx-m-checkbox-lanes="3"] {
            --grid-template-lanes: 3;
        }

        &[data-hx-m-checkbox-lanes="4"] {
            --grid-template-lanes: 4;
        }

        &[data-hx-m-checkbox-lanes="5"] {
            --grid-template-lanes: 5;
        }

        &[data-hx-m-checkbox-direction=dir-x] {
            grid-template-columns: repeat(var(--grid-template-lanes), auto);
            grid-auto-rows: auto;
        }

        &[data-hx-m-checkbox-direction=dir-y] {
            grid-auto-columns: auto;
            grid-template-rows: repeat(var(--grid-template-lanes), auto);
        }
    }
}