div[data-hx-portal-root] div[data-hx-overlay-backdrop] {
    --hx-overlay-backdrop-background-color: transparent;

    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: auto;
    overflow: hidden;

    &[data-hx-overlay-state=hidden] + div[data-hx-overlay] {
        opacity: 0;
        pointer-events: none;
    }

    &[data-hx-overlay-state=prepare],
    &[data-hx-overlay-state=hide] {
        + div[data-hx-overlay] {
            pointer-events: none;
        }

        + div[data-hx-overlay][role=overlay],
        + div[data-hx-overlay][role=dialog],
        + div[data-hx-overlay][role=alert] {
            transform: scale(80%, 80%);
            transform-origin: center;
        }

        + div[data-hx-overlay][role=drawer-top] {
            transform: translateY(-100%);
        }

        + div[data-hx-overlay][role=drawer-bottom] {
            transform: translateY(100%);
        }

        + div[data-hx-overlay][role=drawer-left] {
            transform: translateX(-100%);
        }

        + div[data-hx-overlay][role=drawer-right] {
            transform: translateX(100%);
        }
    }

    &[data-hx-overlay-state=active] {
        + div[data-hx-overlay] {
            pointer-events: auto;
            transition: var(--hx-overlay-open-transition);
        }
    }

    &[data-hx-overlay-state=hide] {
        + div[data-hx-overlay] {
            transition: var(--hx-overlay-close-transition);
        }
    }

    &[role=overlay-toast-tl-backdrop],
    &[role=overlay-toast-tr-backdrop],
    &[role=overlay-toast-br-backdrop],
    &[role=overlay-toast-bl-backdrop] {
        width: 0;
        height: 0;

        &[data-hx-overlay-state=prepare],
        &[data-hx-overlay-state=hide] {
            + div[data-hx-overlay] {
                pointer-events: none;
            }

            + div[data-hx-overlay][role=toast-tl],
            + div[data-hx-overlay][role=toast-bl] {
                transform: translateX(-100%);
            }

            + div[data-hx-overlay][role=toast-tr],
            + div[data-hx-overlay][role=toast-br] {
                transform: translateX(100%);
            }
        }
    }
}

div[data-hx-portal-root] div[data-hx-overlay] {
    --hx-overlay-background-color: var(--hx-background-color);
    --hx-overlay-border-width: var(--hx-border-width-0);
    --hx-overlay-border-color: transparent;
    --hx-overlay-border-style: solid;
    --hx-overlay-border-radius: var(--hx-border-radius-container);
    --hx-overlay-drawer-border-radius: 0;
    --hx-overlay-box-shadow: var(--hx-box-shadow-overlay);
    --hx-overlay-open-transition: all 0.2s ease-in-out;
    --hx-overlay-close-transition: all 0.05s ease-in-out;
    --hx-toast-edge-gap: var(--hx-margin-y-24);

    --hx-scoped-border-radius: var(--hx-overlay-border-radius);

    background-color: var(--hx-overlay-background-color);

    position: relative;

    padding: 0;
    padding-inline: 0;
    padding-block: 0;

    border-width: var(--hx-overlay-border-width);
    border-color: var(--hx-overlay-border-color);
    border-style: var(--hx-overlay-border-style);
    border-radius: var(--hx-scoped-border-radius);
    box-shadow: var(--hx-overlay-box-shadow);

    overflow: hidden;

    &[role=overlay],
    &[role=dialog] {
        margin: auto;
        margin-inline: auto;
        margin-block: auto;

        &[data-hx-width] {
            &[data-hx-width=xs] {
                width: 30vw;
            }

            &[data-hx-width=sm] {
                width: 40vw;
            }

            &[data-hx-width=md] {
                width: 60vw;
            }

            &[data-hx-width=lg] {
                width: 80vw;
            }

            &[data-hx-width=xl] {
                width: 90vw;
            }
        }

        &[data-hx-max-height] {
            &[data-hx-max-height=xs] {
                max-height: 30vh;
            }

            &[data-hx-max-height=sm] {
                max-height: 40vh;
            }

            &[data-hx-max-height=md] {
                max-height: 60vh;
            }

            &[data-hx-max-height=lg] {
                max-height: 80vh;
            }

            &[data-hx-max-height=xl] {
                max-height: 90vh;
            }
        }
    }

    &[role=alert] {
        margin: auto;
        margin-inline: auto;
        margin-block: auto;

        &[data-hx-width] {
            &[data-hx-width=xs] {
                width: 30vw;
            }

            &[data-hx-width=sm] {
                width: 40vw;
            }

            &[data-hx-width=md] {
                width: 50vw;
            }

            &[data-hx-width=lg] {
                width: 60vw;
            }

            &[data-hx-width=xl] {
                width: 70vw;
            }
        }
    }

    &[role=drawer-top],
    &[role=drawer-bottom] {
        --hx-scoped-border-radius: var(--hx-overlay-drawer-border-radius);

        position: absolute;

        width: 100vw;

        &[data-hx-max-height] {
            &[data-hx-max-height=xs] {
                max-height: 30vh;
            }

            &[data-hx-max-height=sm] {
                max-height: 40vh;
            }

            &[data-hx-max-height=md] {
                max-height: 60vh;
            }

            &[data-hx-max-height=lg] {
                max-height: 80vh;
            }

            &[data-hx-max-height=xl] {
                max-height: 90vh;
            }
        }
    }

    &[role=drawer-top] {
        top: 0;
        left: 0;
    }

    &[role=drawer-bottom] {
        bottom: 0;
        left: 0;
    }

    &[role=drawer-left],
    &[role=drawer-right] {
        --hx-scoped-border-radius: var(--hx-overlay-drawer-border-radius);

        position: absolute;

        height: 100vh;

        &[data-hx-width] {
            &[data-hx-width=xs] {
                width: 30vw;
            }

            &[data-hx-width=sm] {
                width: 40vw;
            }

            &[data-hx-width=md] {
                width: 60vw;
            }

            &[data-hx-width=lg] {
                width: 80vw;
            }

            &[data-hx-width=xl] {
                width: 90vw;
            }
        }
    }

    &[role=drawer-left] {
        top: 0;
        left: 0;
    }

    &[role=drawer-right] {
        top: 0;
        right: 0;
    }

    &[role=toast-tl],
    &[role=toast-bl],
    &[role=toast-tr],
    &[role=toast-br] {
        position: absolute;

        &[data-hx-width] {
            &[data-hx-width=xs] {
                width: 20vw;
            }

            &[data-hx-width=sm] {
                width: 25vw;
            }

            &[data-hx-width=md] {
                width: 30vw;
            }

            &[data-hx-width=lg] {
                width: 35vw;
            }

            &[data-hx-width=xl] {
                width: 40vw;
            }
        }
    }

    &[role=toast-tl] {
        top: var(--hx-toast-edge-gap);
        left: var(--hx-toast-edge-gap);
    }

    &[role=toast-tr] {
        top: var(--hx-toast-edge-gap);
        right: var(--hx-toast-edge-gap);
    }

    &[role=toast-br] {
        bottom: var(--hx-toast-edge-gap);
        right: var(--hx-toast-edge-gap);
    }

    &[role=toast-bl] {
        bottom: var(--hx-toast-edge-gap);
        left: var(--hx-toast-edge-gap);
    }
}