div[data-hx-root] div[data-hx-flex][data-hx-pagination],
div[data-hx-portal-root] div[data-hx-flex][data-hx-pagination] {
    > button[data-hx-button]:not(:hover):not(:focus) {
        --hx-scoped-color: var(--hx-button-disabled-text-color);
        --hx-scoped-border-color: transparent;
    }

    > button[data-hx-button] {
        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            &:hover,
            &[data-hx-hover],
            &[data-hx-hover]:hover {
                --hx-scoped-color: var(--hx-button-disabled-text-color);
                --hx-scoped-border-color: transparent;
            }
        }
    }

    > div[data-hx-select]:not(:hover):not(:focus):not(:focus-within) {
        --hx-select-border-color: transparent;
        --hx-select-hover-border-color: transparent;
        --hx-select-focus-border-color: transparent;

        > button[data-hx-select-icon=caret-down] {
            --hx-select-border-color: var(--hx-text-color);
            --hx-select-hover-border-color: var(--hx-text-color);
            --hx-select-focus-border-color: var(--hx-text-color);
        }
    }

    > div[data-hx-select] {
        > span[data-hx-label-input-embed] > span {
            min-height: unset;
            padding-top: 0;
            padding-block-start: 0;
            padding-bottom: 0;
            padding-block-end: 0;
            cursor: inherit;

            &:last-child {
                padding-left: var(--hx-padding-x-4);
                padding-inline-start: var(--hx-padding-x-4);
            }
        }

        > button[data-hx-select-icon=caret-down] > svg[data-hx-svg-icon-name=dots-y] {
            width: calc(var(--hx-select-height) / 2);
            height: calc(var(--hx-select-height) / 2);
            padding-left: var(--hx-padding-x-4);
            padding-inline-start: var(--hx-padding-x-4);
        }
    }

    > span[data-hx-label][data-hx-pagination-total-pages] {
        padding-right: var(--hx-padding-x-4);
        padding-inline-end: var(--hx-padding-x-4);
    }

    /* total items label and page size control */

    > span[data-hx-label][data-hx-pagination-page-size],
    > span[data-hx-label][data-hx-pagination-total-items] {
        padding-top: 0;
        padding-block-start: 0;
        padding-bottom: 0;
        padding-block-end: 0;
    }

    > span[data-hx-label][data-hx-pagination-total-items] {
        > span[data-hx-label] {
            &[data-hx-pagination-total-items-key1] {
                margin-right: var(--hx-margin-x-4);
                margin-inline-end: var(--hx-margin-x-4);
            }

            &[data-hx-pagination-total-items-key2] {
                margin-left: var(--hx-margin-x-4);
                margin-inline-start: var(--hx-margin-x-4);
            }
        }
    }

    > span[data-hx-label][data-hx-pagination-page-size] {
        margin-left: var(--hx-margin-x-4);
        margin-inline-start: var(--hx-margin-x-4);

        > span[data-hx-label] {
            &:last-child {
                text-transform: none;
                margin-left: var(--hx-margin-x-4);
                margin-inline-start: var(--hx-margin-x-4);
            }
        }
    }

    > button[data-hx-button]:last-child > span[data-hx-label][data-hx-pagination-page-size] {
        > span[data-hx-label] {
            color: inherit;
            cursor: inherit;

            &:last-child {
                text-transform: none;
                margin-left: var(--hx-margin-x-4);
                margin-inline-start: var(--hx-margin-x-4);
            }
        }
    }
}
