div[data-hx-root] div[data-hx-panel],
div[data-hx-portal-root] div[data-hx-panel] {
    --hx-panel-border-width-none: var(--hx-border-width-0);
    --hx-panel-border-width: var(--hx-border-width-1);
    --hx-panel-border-color: var(--hx-border-color-light);
    --hx-panel-border-style: solid;
    --hx-panel-border-radius: var(--hx-border-radius-container-none);
    --hx-panel-transition: var(--hx-transition-all);
    --hx-panel-with-border-padding-x: var(--hx-padding-x-12);
    --hx-panel-header-height: var(--hx-one-box-height);
    --hx-panel-header-padding-t: calc((var(--hx-one-box-height) - var(--hx-one-height)) / 2);
    --hx-panel-header-padding-b: calc((var(--hx-one-box-height) - var(--hx-one-height)) / 2);
    --hx-panel-collapse-button-size: var(--hx-one-height);

    --hx-border-width: var(--hx-panel-border-width-none);
    --hx-border-radius: var(--hx-panel-border-radius);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    border-width: var(--hx-border-width);
    border-color: var(--hx-panel-border-color);
    border-style: var(--hx-panel-border-style);
    border-radius: var(--hx-border-radius);
    overflow: hidden;

    transition: var(--hx-panel-transition);

    &[data-hx-border] {
        > div[data-hx-flex][data-hx-panel-header] {
            &:not([data-hx-padding-x]) {
                padding-left: var(--hx-panel-with-border-padding-x);
                padding-inline-start: var(--hx-panel-with-border-padding-x);
                padding-right: var(--hx-panel-with-border-padding-x);
                padding-inline-end: var(--hx-panel-with-border-padding-x);
            }
        }

        > div[data-hx-grid][data-hx-panel-body] {
            &:not([data-hx-padding-x]) {
                padding-left: var(--hx-panel-with-border-padding-x);
                padding-inline-start: var(--hx-panel-with-border-padding-x);
                padding-right: var(--hx-panel-with-border-padding-x);
                padding-inline-end: var(--hx-panel-with-border-padding-x);
            }
        }
    }

    &:not([data-hx-border]) {
        &[data-hx-panel-collapsible][data-hx-panel-collapsed] {
            > div[data-hx-flex][data-hx-panel-header] {
                border-radius: var(--hx-border-radius) 0 0;
            }
        }
    }

    &[data-hx-panel-collapsible] {
        &:not([data-hx-panel-collapsed]) {
            > div[data-hx-flex][data-hx-panel-header] {
                > button[data-hx-button][data-hx-panel-collapse-button] {
                    > svg:first-child {
                        display: none;
                    }
                }
            }
        }

        &[data-hx-panel-collapsed] {
            grid-template-rows: auto 0fr;
            border-bottom-width: 0;

            > div[data-hx-flex][data-hx-panel-header] {
                border-radius: var(--hx-border-radius);

                > button[data-hx-button][data-hx-panel-collapse-button] {
                    > svg:last-child {
                        display: none;
                    }
                }
            }

            > div[data-hx-grid][data-hx-panel-body] {
                min-height: 0;
            }
        }

        > div[data-hx-flex][data-hx-panel-header] {
            > button[data-hx-button][data-hx-panel-collapse-button] {
                width: var(--hx-panel-collapse-button-size);
                height: var(--hx-panel-collapse-button-size);
                padding: 0;
                padding-inline: 0;
                padding-block: 0;
            }
        }
    }

    > div[data-hx-flex][data-hx-panel-header] {
        min-height: var(--hx-panel-header-height);

        border-bottom-width: var(--hx-panel-border-width);
        border-color: var(--hx-panel-border-color);
        border-style: var(--hx-panel-border-style);
        border-radius: var(--hx-border-radius) var(--hx-border-radius) 0 0;

        &:not([data-hx-padding-x]) {
            padding-left: 0;
            padding-inline-start: 0;
            padding-right: 0;
            padding-inline-end: 0;
        }

        &:not([data-hx-padding-t]) {
            padding-top: var(--hx-panel-header-padding-t);
            padding-block-start: var(--hx-panel-header-padding-t);
        }

        &:not([data-hx-padding-b]) {
            padding-bottom: var(--hx-panel-header-padding-b);
            padding-block-end: var(--hx-panel-header-padding-b);
        }
    }

    > div[data-hx-grid][data-hx-panel-body] {
        border-radius: 0 0 var(--hx-border-radius) var(--hx-border-radius);

        &:not([data-hx-padding-x]) {
            padding-left: 0;
            padding-inline-start: 0;
            padding-right: 0;
            padding-inline-end: 0;
        }

        &:not([data-hx-padding-t]) {
            padding-top: 0;
            padding-block-start: 0;
        }

        &:not([data-hx-padding-b]) {
            padding-bottom: 0;
            padding-block-end: 0;
        }
    }
}
