div[data-hx-portal-root] div[data-hx-popup] {
    --hx-popup-background-color: var(--hx-background-color);
    --hx-popup-border-width: var(--hx-border-width-1);
    --hx-popup-border-color: var(--hx-focus-border-color);
    --hx-popup-border-style: solid;
    --hx-popup-border-radius: var(--hx-border-radius-atomic);
    --hx-popup-open-transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, height 0.2s ease-in-out;
    --hx-popup-close-transition: top 0.05s ease-in-out, bottom 0.05s ease-in-out, height 0.05s ease-in-out;

    --hx-border-radius: var(--hx-popup-border-radius);

    background-color: var(--hx-popup-background-color);

    position: fixed;

    border-width: var(--hx-popup-border-width);
    border-color: var(--hx-popup-border-color);
    border-style: var(--hx-popup-border-style);
    border-radius: var(--hx-border-radius);

    &[data-hx-popup-state=hidden] {
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
    }

    &[data-hx-popup-state=prepare] {
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
    }

    &[data-hx-popup-state=prepared] {
        height: 0;
        pointer-events: none;
        overflow: hidden;
    }

    &[data-hx-popup-state=active] {
        pointer-events: auto;
        overflow: scroll;
        transition: var(--hx-popup-open-transition);

        &[data-hx-popup-avoid-transition] {
            transition: none
        }
    }

    &[data-hx-popup-state=hide] {
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: var(--hx-popup-close-transition);
    }
}
