div[data-hx-root] div[data-hx-select],
div[data-hx-portal-root] div[data-hx-select] {
    --hx-select-color: var(--hx-text-color);
    --hx-select-disabled-text-color: var(--hx-disabled-text-color);
    --hx-select-background-color: var(--hx-background-color);
    --hx-select-disabled-background-color: var(--hx-disabled-background-color);
    --hx-select-font-family: var(--hx-font-family);
    --hx-select-font-size: var(--hx-font-size-sm);
    --hx-select-font-weight: var(--hx-font-weight);
    --hx-select-font-style: var(--hx-font-style);
    --hx-select-height: var(--hx-one-height);
    --hx-select-line-height: var(--hx-one-line-height);
    --hx-select-padding-y: var(--hx-text-padding-y-atomic);
    --hx-select-padding-x: var(--hx-text-indent);
    --hx-select-border-width: var(--hx-border-width-1);
    --hx-select-border-color: var(--hx-border-color);
    --hx-select-border-style: solid;
    --hx-select-border-radius: var(--hx-border-radius-atomic);
    --hx-select-hover-border-color: var(--hx-hover-border-color);
    --hx-select-focus-border-color: var(--hx-focus-border-color);
    --hx-select-disabled-border-color: var(--hx-disabled-border-color);
    --hx-select-transition: var(--hx-transition-all);
    --hx-select-icon-size: calc(var(--hx-select-height) / 4 * 3);
    --hx-select-icon-caret-svg-size: calc(var(--hx-select-height) * 0.5625);
    --hx-select-icon-caret-margin: 0 calc(var(--hx-select-height) / -8) 0 calc(var(--hx-select-height) / 8);
    --hx-select-icon-clear-svg-size: calc(var(--hx-select-height) * 0.40625);
    --hx-select-icon-clear-svg-margin: 1px 0 0 0;
    --hx-select-icon-clear-margin: 0 calc(var(--hx-select-height) / -4) 0 calc(var(--hx-select-height) / 8);
    --hx-select-icon-clear-opacity: 0.5;
    --hx-select-icon-clear-hover-opacity: 1;
    --hx-select-icon-clear-focus-opacity: 1;

    box-sizing: border-box;

    font-family: var(--hx-select-font-family), system-ui;
    font-size: var(--hx-select-font-size);
    font-weight: var(--hx-select-font-weight);
    font-style: var(--hx-select-font-style);
    color: var(--hx-select-color);
    background-color: var(--hx-select-background-color);

    &:not([data-hx-visible=no]) {
        display: flex;
    }

    align-items: center;
    height: var(--hx-select-height);
    line-height: var(--hx-select-line-height);

    padding: var(--hx-select-padding-y) var(--hx-select-padding-x);
    padding-inline: var(--hx-select-padding-x);
    padding-block: var(--hx-select-padding-y);

    outline: none;
    border-width: var(--hx-select-border-width);
    border-color: var(--hx-select-border-color);
    border-style: var(--hx-select-border-style);
    border-radius: var(--hx-select-border-radius);

    cursor: pointer;
    transition: var(--hx-select-transition);

    &:hover {
        border-color: var(--hx-select-hover-border-color);

        > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=caret-down] {
            color: var(--hx-select-hover-border-color);
        }

        > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=clear] {
            color: var(--hx-danger-hover-color);
            opacity: var(--hx-select-icon-clear-hover-opacity);
        }
    }

    &:focus, &:focus-within,
    &:focus:hover, &:focus-within:hover,
    &[data-hx-focus], &[data-hx-focus]:hover {
        border-color: var(--hx-select-focus-border-color);

        > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=caret-down] {
            color: var(--hx-select-focus-border-color);
        }

        > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=clear] {
            color: var(--hx-danger-focus-color);
            opacity: var(--hx-select-icon-clear-focus-opacity);
        }
    }

    &:disabled,
    &[data-hx-disabled],
    &[data-hx-disabled]:disabled {
        background-color: var(--hx-select-disabled-background-color);
        color: var(--hx-select-disabled-text-color);
        border-color: var(--hx-select-disabled-border-color);
        cursor: not-allowed;

        &:hover {
            border-color: var(--hx-select-disabled-border-color);
        }

        * {
            cursor: not-allowed;
        }

        > span[data-hx-label] {
            color: inherit;
        }

        > button[data-hx-button-input-embed][data-hx-select-icon]:disabled,
        > button[data-hx-button-input-embed][data-hx-select-icon][data-hx-disabled],
        > button[data-hx-button-input-embed][data-hx-select-icon][data-hx-disabled]:disabled {
            > svg {
                color: var(--hx-select-disabled-border-color);
            }
        }
    }

    > span[data-hx-label] {
        cursor: inherit;
        flex: 1;
    }

    > button[data-hx-button-input-embed] {
        border: 0;
    }

    > button[data-hx-button-input-embed][data-hx-select-icon=caret-down] {
        color: var(--hx-select-border-color);
        margin: var(--hx-select-icon-caret-margin);
        margin-inline: var(--hx-select-icon-caret-margin);
        margin-block: var(--hx-select-icon-caret-margin);

        > svg {
            height: var(--hx-select-icon-caret-svg-size);
            width: var(--hx-select-icon-caret-svg-size);
        }
    }

    > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=clear] {
        color: var(--hx-danger-color);
        margin: var(--hx-select-icon-clear-margin);
        margin-inline: var(--hx-select-icon-clear-margin);
        margin-block: var(--hx-select-icon-clear-margin);
        opacity: var(--hx-select-icon-clear-opacity);

        > svg {
            height: var(--hx-select-icon-clear-svg-size);
            width: var(--hx-select-icon-clear-svg-size);
            margin: var(--hx-select-icon-clear-svg-margin);
            margin-inline: var(--hx-select-icon-clear-svg-margin);
            margin-block: var(--hx-select-icon-clear-svg-margin);
        }
    }
}

/** popup */
div[data-hx-portal-root] div[data-hx-popup] {
    &[data-hx-popup-for-select] {
        display: flex;
        flex-direction: column;

        > div[data-hx-input-box] {
            position: sticky;
            top: 0;
            width: 100%;
            flex-shrink: 0;
            border-top: 0;
            border-block-start: 0;
            border-left: 0;
            border-inline-start: 0;
            border-right: 0;
            border-inline-end: 0;
            border-bottom-left-radius: 0;
            border-end-start-radius: 0;
            border-bottom-right-radius: 0;
            border-end-end-radius: 0;

            > input[data-hx-input-inbox] {
                border-bottom-left-radius: 0;
                border-end-start-radius: 0;
                border-bottom-right-radius: 0;
                border-end-end-radius: 0;
                padding-top: var(--hx-label-padding-y-atomic);
                padding-block-start: var(--hx-label-padding-y-atomic);
            }
        }

        > div[data-hx-select-options] {
            display: flex;
            position: relative;
            flex-direction: column;
            overflow: scroll;

            > span[data-hx-label] {
                display: block;
                flex-shrink: 0;

                &[data-hx-select-option] {
                    &[data-hx-disabled] {
                        > span[data-hx-label] {
                            color: inherit;
                            background-color: inherit;
                        }
                    }

                    > span[data-hx-label] {
                        cursor: inherit;
                    }
                }

                &:not([data-hx-select-option]):not(:first-child) {
                    display: none;
                }
            }
        }
    }
}
