div[data-hx-root] div[data-hx-select],
div[data-hx-portal-root] div[data-hx-select] {
    --hx-select-color: var(--hx-text-color);
    --hx-select-disabled-text-color: var(--hx-disabled-text-color);
    --hx-select-background-color: var(--hx-background-color);
    --hx-select-disabled-background-color: var(--hx-disabled-background-color);
    --hx-select-font-family: var(--hx-font-family);
    --hx-select-font-size: var(--hx-font-size-sm);
    --hx-select-font-weight: var(--hx-font-weight);
    --hx-select-font-style: var(--hx-font-style);
    --hx-select-height: var(--hx-one-height);
    --hx-select-line-height: var(--hx-one-line-height);
    --hx-select-padding-y: var(--hx-text-padding-y-atomic);
    --hx-select-padding-x: var(--hx-text-indent);
    --hx-select-border-width: var(--hx-border-width-1);
    --hx-select-border-color: var(--hx-border-color);
    --hx-select-border-style: solid;
    --hx-select-border-radius: var(--hx-border-radius-atomic);
    --hx-select-hover-border-color: var(--hx-hover-border-color);
    --hx-select-focus-border-color: var(--hx-focus-border-color);
    --hx-select-disabled-border-color: var(--hx-disabled-border-color);
    --hx-select-readonly-border-color: var(--hx-readonly-border-color);
    --hx-select-transition: var(--hx-transition-all);

    box-sizing: border-box;

    font-family: var(--hx-select-font-family), system-ui;
    font-size: var(--hx-select-font-size);
    font-weight: var(--hx-select-font-weight);
    font-style: var(--hx-select-font-style);
    color: var(--hx-select-color);
    background-color: var(--hx-select-background-color);

    display: flex;
    align-items: center;
    height: var(--hx-select-height);
    line-height: var(--hx-select-line-height);
    margin: 0;
    padding: var(--hx-select-padding-y) var(--hx-select-padding-x);

    outline: none;
    border-width: var(--hx-select-border-width);
    border-color: var(--hx-select-border-color);
    border-style: var(--hx-select-border-style);
    border-radius: var(--hx-select-border-radius);

    cursor: pointer;
    transition: var(--hx-select-transition);

    &:hover {
        border-color: var(--hx-select-hover-border-color);
    }

    &:focus,
    &:focus:hover {
        border-color: var(--hx-select-focus-border-color);
    }

    &:disabled,
    &[data-hx-disabled=true],
    &[data-hx-disabled=true]:disabled {
        background-color: var(--hx-select-disabled-background-color);
        color: var(--hx-select-disabled-text-color);
        border-color: var(--hx-select-disabled-border-color);
        cursor: not-allowed;

        &:hover {
            border-color: var(--hx-select-disabled-border-color);
        }

        * {
            cursor: not-allowed;
        }
    }
}
