div[data-hx-root] div[data-hx-separator],
div[data-hx-portal-root] div[data-hx-separator] {
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: var(--hx-separator-color);

    display: flex;
    height: var(--hx-separator-height);
    width: 100%;
    margin: var(--hx-separator-margin-y) var(--hx-separator-margin-x);
    padding: 0;

    transition: var(--hx-separator-transition);

    /** various + color */

    &[data-hx-color=primary] {
        background-color: var(--hx-primary-border-color);
    }

    &[data-hx-color=success] {
        background-color: var(--hx-success-border-color);
    }

    &[data-hx-color=danger] {
        background-color: var(--hx-danger-border-color);
    }

    &[data-hx-color=warn] {
        background-color: var(--hx-warn-border-color);
    }

    &[data-hx-color=info] {
        background-color: var(--hx-info-border-color);
    }

    &[data-hx-color=waive] {
        background-color: var(--hx-waive-border-color);
    }

    &[data-hx-separator-margin-x=none] {
        margin-left: var(--hx-separator-margin-x-none);
        margin-right: var(--hx-separator-margin-x-none);
    }

    &[data-hx-separator-margin-x=xs] {
        margin-left: var(--hx-separator-margin-x-xs);
        margin-right: var(--hx-separator-margin-x-xs);
    }

    &[data-hx-separator-margin-x=sm] {
        margin-left: var(--hx-separator-margin-x-sm);
        margin-right: var(--hx-separator-margin-x-sm);
    }

    &[data-hx-separator-margin-x=md] {
        margin-left: var(--hx-separator-margin-x-md);
        margin-right: var(--hx-separator-margin-x-md);
    }

    &[data-hx-separator-margin-x=lg] {
        margin-left: var(--hx-separator-margin-x-lg);
        margin-right: var(--hx-separator-margin-x-lg);
    }

    &[data-hx-separator-margin-x=xl] {
        margin-left: var(--hx-separator-margin-x-xl);
        margin-right: var(--hx-separator-margin-x-xl);
    }

    &[data-hx-separator-margin-y=none] {
        margin-top: var(--hx-separator-margin-y-none);
        margin-bottom: var(--hx-separator-margin-y-none);
    }

    &[data-hx-separator-margin-y=xs] {
        margin-top: var(--hx-separator-margin-y-xs);
        margin-bottom: var(--hx-separator-margin-y-xs);
    }

    &[data-hx-separator-margin-y=sm] {
        margin-top: var(--hx-separator-margin-y-sm);
        margin-bottom: var(--hx-separator-margin-y-sm);
    }

    &[data-hx-separator-margin-y=md] {
        margin-top: var(--hx-separator-margin-y-md);
        margin-bottom: var(--hx-separator-margin-y-md);
    }

    &[data-hx-separator-margin-y=lg] {
        margin-top: var(--hx-separator-margin-y-lg);
        margin-bottom: var(--hx-separator-margin-y-lg);
    }

    &[data-hx-separator-margin-y=xl] {
        margin-top: var(--hx-separator-margin-y-xl);
        margin-bottom: var(--hx-separator-margin-y-xl);
    }

    &[data-hx-separator-direction=dir-y] {
        height: auto;
        width: var(--hx-separator-height);
    }

    /*> span[data-hx-label] {*/
    /*    background-color: inherit;*/
    /*    color: inherit;*/
    /*    height: calc(var(--hx-separator-height) - var(--hx-separator-border-width) * 2);*/
    /*    padding: var(--hx-separator-padding-y) 0;*/
    /*    cursor: inherit;*/
    /*}*/
}
