div[data-hx-root] div[data-hx-table],
div[data-hx-portal-root] div[data-hx-table] {
    --hx-table-background-color: var(--hx-background-color);
    --hx-table-border-width: var(--hx-border-width-1);
    --hx-table-border-color: var(--hx-border-color-light);
    --hx-table-border-style: solid;
    --hx-table-border-radius: var(--hx-border-radius-container);
    --hx-table-assist-empty-cell-background-color: color-mix(in srgb, var(--hx-assistant-color) 10%, white);
    --hx-table-header-color: var(--hx-text-color);
    --hx-table-header-background-color: color-mix(in srgb, var(--hx-background-color) 80%, lightgray);
    --hx-table-header-font-family: var(--hx-font-family);
    --hx-table-header-font-size: var(--hx-font-size-sm);
    --hx-table-header-font-weight: var(--hx-font-weight-semi-bold);
    --hx-table-header-font-style: var(--hx-font-style);
    --hx-table-header-height: var(--hx-one-height);
    --hx-table-header-line-height: var(--hx-one-line-height);
    --hx-table-body-color: var(--hx-text-color);
    --hx-table-body-background-color: var(--hx-background-color);
    --hx-table-body-even-background-color: color-mix(in srgb, var(--hx-background-color) 90%, lightgray);
    --hx-table-body-font-family: var(--hx-font-family);
    --hx-table-body-font-size: var(--hx-font-size-sm);
    --hx-table-body-font-weight: var(--hx-font-weight);
    --hx-table-body-font-style: var(--hx-font-style);
    --hx-table-body-height: var(--hx-one-height);
    --hx-table-body-line-height: var(--hx-one-line-height);

    --hx-scoped-border-width: var(--hx-table-border-width);
    --hx-scoped-border-color: var(--hx-table-border-color);
    --hx-scoped-border-radius: var(--hx-table-border-radius);

    /* noinspection CssUnresolvedCustomProperty */
    grid-template-columns: var(--columns-layout);
    background-color: var(--hx-table-background-color);
    overflow: hidden;

    &:not([data-hx-visible=no]) {
        /* noinspection CssUnresolvedCustomProperty */
        display: var(--display-state, none);
    }

    &[data-hx-border] {
        border-width: var(--hx-scoped-border-width);
        border-color: var(--hx-scoped-border-color);
        border-style: var(--hx-table-border-style);
        border-radius: var(--hx-scoped-border-radius);
    }

    > div[data-hx-table-layout],
    > div[data-hx-table-header=start],
    > div[data-hx-table-header=end],
    > div[data-hx-table-body=start],
    > div[data-hx-table-body=end],
    > div[data-hx-table-footer=start],
    > div[data-hx-table-footer=end] {
        display: none;
    }

    > div[data-hx-table-header-cell] {
        display: flex;
        /* noinspection CssUnresolvedCustomProperty */
        grid-column: var(--cell-column);
        /* noinspection CssUnresolvedCustomProperty */
        grid-row: var(--cell-row);

        border-bottom-width: var(--hx-scoped-border-width);
        border-bottom-color: var(--hx-scoped-border-color);
        border-bottom-style: var(--hx-table-border-style);

        min-height: var(--hx-table-header-height);
        line-height: var(--hx-table-header-line-height);
        align-items: center;

        font-family: var(--hx-table-header-font-family), system-ui;
        font-size: var(--hx-table-header-font-size);
        font-weight: var(--hx-table-header-font-weight);
        font-style: var(--hx-table-header-font-style);
        color: var(--hx-table-header-color);
        background-color: var(--hx-table-header-background-color);

        &[data-hx-padding-x] {
            padding-left: var(--hx-scoped-padding-x);
            padding-right: var(--hx-scoped-padding-x);
            padding-inline: var(--hx-scoped-padding-x) var(--hx-scoped-padding-x);
        }

        &[data-hx-table-assist-empty] {
            background-color: var(--hx-table-assist-empty-cell-background-color);
        }

        > span[data-hx-label] {
            font-weight: var(--hx-table-header-font-weight);
        }
    }

    > div[data-hx-table-body-cell] {
        display: flex;
        /* noinspection CssUnresolvedCustomProperty */
        grid-column: var(--cell-column);
        /* noinspection CssUnresolvedCustomProperty */
        grid-row: var(--cell-row);

        min-height: var(--hx-table-body-height);
        line-height: var(--hx-table-body-line-height);
        align-items: center;

        font-family: var(--hx-table-body-font-family), system-ui;
        font-size: var(--hx-table-body-font-size);
        font-weight: var(--hx-table-body-font-weight);
        font-style: var(--hx-table-body-font-style);
        color: var(--hx-table-body-color);
        background-color: var(--hx-table-body-background-color);

        &[data-hx-table-cell-stripe-row][data-hx-table-cell-even-row] {
            background-color: var(--hx-table-body-even-background-color);
        }

        &[data-hx-padding-x] {
            padding-left: var(--hx-scoped-padding-x);
            padding-right: var(--hx-scoped-padding-x);
            padding-inline: var(--hx-scoped-padding-x) var(--hx-scoped-padding-x);
        }

        &[data-hx-table-assist-empty] {
            background-color: var(--hx-table-assist-empty-cell-background-color);
        }
    }

    > div[data-hx-table-header-cell],
    > div[data-hx-table-body-cell] {
        &[data-hx-table-cell-column-grid-line]:not([data-hx-table-cell-inline-end]) {
            border-right-width: var(--hx-scoped-border-width);
            border-right-color: var(--hx-scoped-border-color);
            border-right-style: var(--hx-table-border-style);
            border-inline-end-width: var(--hx-scoped-border-width);
            border-inline-end-color: var(--hx-scoped-border-color);
            border-inline-end-style: var(--hx-table-border-style);
        }
    }
}
