div[data-hx-root] div[data-hx-table],
div[data-hx-portal-root] div[data-hx-table] {
    --hx-table-background-color: var(--hx-background-color);

    background-color: var(--hx-tabs-background-color);
    overflow: hidden;

    &:not([data-hx-visible=no]) {
        display: grid;
    }

    > div[data-hx-table-header],
    > div[data-hx-table-body],
    > div[data-hx-table-footer] {
        display: none;
    }
}
