div[data-hx-root] div[data-hx-textarea-box],
div[data-hx-portal-root] div[data-hx-textarea-box] {
    --hx-textarea-color: var(--hx-text-color);
    --hx-textarea-disabled-text-color: var(--hx-disabled-text-color);
    --hx-textarea-readonly-text-color: var(--hx-readonly-text-color);
    --hx-textarea-background-color: var(--hx-background-color);
    --hx-textarea-disabled-background-color: var(--hx-disabled-background-color);
    --hx-textarea-readonly-background-color: var(--hx-readonly-background-color);
    --hx-textarea-placeholder-color: var(--hx-placeholder-color);
    --hx-textarea-font-family: var(--hx-font-family);
    --hx-textarea-font-size: var(--hx-font-size-sm);
    --hx-textarea-font-weight: var(--hx-font-weight);
    --hx-textarea-font-style: var(--hx-font-style);
    --hx-textarea-height: var(--hx-one-height);
    --hx-textarea-line-height: var(--hx-one-line-height);
    --hx-textarea-padding-y: var(--hx-text-padding-y-atomic);
    --hx-textarea-padding-x: var(--hx-text-indent);
    --hx-textarea-border-width: var(--hx-border-width-1);
    --hx-textarea-border-color: var(--hx-border-color);
    --hx-textarea-border-style: solid;
    --hx-textarea-border-radius: var(--hx-border-radius-atomic);
    --hx-textarea-hover-border-color: var(--hx-hover-border-color);
    --hx-textarea-focus-border-color: var(--hx-focus-border-color);
    --hx-textarea-disabled-border-color: var(--hx-disabled-border-color);
    --hx-textarea-readonly-border-color: var(--hx-readonly-border-color);
    --hx-textarea-transition: var(--hx-transition-all);
    --hx-textarea-non-content-height: calc((var(--hx-textarea-border-width) + var(--hx-textarea-padding-y)) * 2);

    display: flex;
    flex-direction: column;

    background-color: var(--hx-textarea-background-color);

    &[data-hx-disabled] {
        background-color: var(--hx-textarea-disabled-background-color);
    }

    &[data-hx-readonly] {
        background-color: var(--hx-textarea-readonly-background-color);
    }

    > textarea[data-hx-textarea] {
        box-sizing: border-box;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        font-family: var(--hx-textarea-font-family), system-ui;
        font-size: var(--hx-textarea-font-size);
        font-weight: var(--hx-textarea-font-weight);
        font-style: var(--hx-textarea-font-style);
        color: var(--hx-textarea-color);
        background-color: transparent;

        display: block;
        height: var(--hx-textarea-height);
        line-height: var(--hx-textarea-line-height);
        margin: 0;
        padding: var(--hx-textarea-padding-y) var(--hx-textarea-padding-x);

        outline: none;
        border-width: var(--hx-textarea-border-width);
        border-color: var(--hx-textarea-border-color);
        border-style: var(--hx-textarea-border-style);
        border-radius: var(--hx-textarea-border-radius);

        cursor: text;
        transition: var(--hx-textarea-transition);

        &:hover {
            border-color: var(--hx-textarea-hover-border-color);
        }

        &:focus,
        &:focus:hover {
            border-color: var(--hx-textarea-focus-border-color);
        }

        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            color: var(--hx-textarea-disabled-text-color);
            border-color: var(--hx-textarea-disabled-border-color);
            cursor: not-allowed;

            &:hover {
                border-color: var(--hx-textarea-disabled-border-color);
            }
        }

        &::placeholder {
            color: var(--hx-textarea-placeholder-color);
        }

        &[readonly],
        &[data-hx-readonly][readonly] {
            color: var(--hx-textarea-readonly-text-color);
            border-color: var(--hx-textarea-readonly-border-color);
            cursor: not-allowed;

            &:hover {
                border-color: var(--hx-textarea-hover-border-color);
            }

            &:focus,
            &:focus:hover {
                border-color: var(--hx-textarea-focus-border-color);
            }
        }

        &[data-hx-textarea-resize=none] {
            resize: none;
        }

        &[data-hx-textarea-resize=dir-x] {
            resize: horizontal;
        }

        &[data-hx-textarea-resize=dir-y] {
            resize: vertical;
        }

        &[data-hx-textarea-resize=both] {
            resize: both;
        }

        &[data-hx-textarea-rows="1"] {
            height: var(--hx-textarea-height);
        }

        &[data-hx-textarea-rows="2"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 2);
        }

        &[data-hx-textarea-rows="3"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 3);
        }

        &[data-hx-textarea-rows="4"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 4);
        }

        &[data-hx-textarea-rows="5"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 5);
        }

        &[data-hx-textarea-rows="6"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 6);
        }

        &[data-hx-textarea-rows="7"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 7);
        }

        &[data-hx-textarea-rows="8"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 8);
        }

        &[data-hx-textarea-rows="9"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 9);
        }

        &[data-hx-textarea-rows="10"] {
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * 10);
        }

        &:not(:empty) {
            + span[data-hx-textarea-placeholder] {
                display: none;
            }
        }
    }

    > span[data-hx-textarea-placeholder] {
        font-family: var(--hx-textarea-font-family), system-ui;
        font-size: var(--hx-textarea-font-size);
        font-weight: var(--hx-textarea-font-weight);
        font-style: var(--hx-textarea-font-style);
        color: var(--hx-textarea-placeholder-color);

        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: var(--hx-textarea-line-height);
        margin: 0;
        padding: var(--hx-textarea-padding-y) var(--hx-textarea-padding-x);

        outline: none;
        border-width: var(--hx-textarea-border-width);
        border-color: transparent;
        border-style: var(--hx-textarea-border-style);

        pointer-events: none;
    }
}
