div[data-hx-root] div[data-hx-textarea-box],
div[data-hx-portal-root] div[data-hx-textarea-box] {
    --hx-textarea-color: var(--hx-text-color);
    --hx-textarea-disabled-text-color: var(--hx-disabled-text-color);
    --hx-textarea-readonly-text-color: var(--hx-readonly-text-color);
    --hx-textarea-background-color: var(--hx-background-color);
    --hx-textarea-disabled-background-color: var(--hx-disabled-background-color);
    --hx-textarea-readonly-background-color: var(--hx-readonly-background-color);
    --hx-textarea-placeholder-color: var(--hx-placeholder-color);
    --hx-textarea-font-family: var(--hx-font-family);
    --hx-textarea-font-size: var(--hx-font-size-sm);
    --hx-textarea-font-weight: var(--hx-font-weight);
    --hx-textarea-font-style: var(--hx-font-style);
    --hx-textarea-height: var(--hx-one-height);
    --hx-textarea-line-height: var(--hx-one-line-height);
    --hx-textarea-padding-y: var(--hx-text-padding-y-atomic);
    --hx-textarea-padding-x: var(--hx-text-indent);
    --hx-textarea-border-width: var(--hx-border-width-1);
    --hx-textarea-border-color: var(--hx-border-color);
    --hx-textarea-border-style: solid;
    --hx-textarea-border-radius: var(--hx-border-radius-atomic);
    --hx-textarea-hover-border-color: var(--hx-hover-border-color);
    --hx-textarea-focus-border-color: var(--hx-focus-border-color);
    --hx-textarea-disabled-border-color: var(--hx-disabled-border-color);
    --hx-textarea-readonly-border-color: var(--hx-readonly-border-color);
    --hx-textarea-transition: var(--hx-transition-all);
    --hx-textarea-non-content-height: calc((var(--hx-textarea-border-width) + var(--hx-textarea-padding-y)) * 2);
    --hx-textarea-cl-label-font-size: var(--hx-font-size-xs);
    --hx-textarea-cl-label-color: var(--hx-assistant-color);
    --hx-textarea-cl-label-height: var(--hx-08-height);
    --hx-textarea-cl-label-line-height: var(--hx-08-line-height);
    --hx-textarea-cl-label-padding-y: var(--hx-text-padding-y-atomic);
    --hx-textarea-cl-label-padding-x: var(--hx-text-padding-x-0);

    display: grid;
    grid-template-columns: 1fr auto;

    background-color: var(--hx-textarea-background-color);

    &[data-hx-disabled] {
        background-color: var(--hx-textarea-disabled-background-color);
    }

    &[data-hx-readonly] {
        background-color: var(--hx-textarea-readonly-background-color);
    }

    &[data-hx-with-check] {
        display: grid;

        > span[data-hx-label-check-msg] {
            grid-column: 1;
        }
    }

    > span[data-hx-label-textarea-char-limit] {
        grid-column: 2;
        font-size: var(--hx-textarea-cl-label-font-size);
        color: var(--hx-textarea-cl-label-color);

        align-self: flex-end;
        height: var(--hx-textarea-cl-label-height);
        line-height: var(--hx-textarea-cl-label-line-height);
        padding: var(--hx-textarea-cl-label-padding-y) var(--hx-textarea-cl-label-padding-x);
        padding-inline: var(--hx-textarea-cl-label-padding-x);
        padding-block: var(--hx-textarea-cl-label-padding-y);
    }

    > textarea[data-hx-textarea] {
        box-sizing: border-box;

        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        font-family: var(--hx-textarea-font-family), system-ui;
        font-size: var(--hx-textarea-font-size);
        font-weight: var(--hx-textarea-font-weight);
        font-style: var(--hx-textarea-font-style);
        color: var(--hx-textarea-color);
        background-color: transparent;

        display: block;
        grid-column: span 2;
        height: var(--hx-textarea-height);
        line-height: var(--hx-textarea-line-height);

        padding: var(--hx-textarea-padding-y) var(--hx-textarea-padding-x);
        padding-inline: var(--hx-textarea-padding-x);
        padding-block: var(--hx-textarea-padding-y);

        outline: none;
        border-width: var(--hx-textarea-border-width);
        border-color: var(--hx-textarea-border-color);
        border-style: var(--hx-textarea-border-style);
        border-radius: var(--hx-textarea-border-radius);

        cursor: text;
        transition: var(--hx-textarea-transition);

        &:hover {
            border-color: var(--hx-textarea-hover-border-color);
        }

        &:focus,
        &:focus:hover {
            border-color: var(--hx-textarea-focus-border-color);
        }

        &:disabled,
        &[data-hx-disabled],
        &[data-hx-disabled]:disabled {
            color: var(--hx-textarea-disabled-text-color);
            border-color: var(--hx-textarea-disabled-border-color);
            cursor: not-allowed;

            &:hover {
                border-color: var(--hx-textarea-disabled-border-color);
            }
        }

        &::placeholder {
            color: var(--hx-textarea-placeholder-color);
        }

        &[readonly],
        &[data-hx-readonly][readonly] {
            color: var(--hx-textarea-readonly-text-color);
            border-color: var(--hx-textarea-readonly-border-color);
            cursor: not-allowed;

            &:hover {
                border-color: var(--hx-textarea-hover-border-color);
            }

            &:focus,
            &:focus:hover {
                border-color: var(--hx-textarea-focus-border-color);
            }
        }

        &[data-hx-textarea-resize=none] {
            resize: none;
        }

        &[data-hx-textarea-resize=dir-x] {
            resize: horizontal;
        }

        &[data-hx-textarea-resize=dir-y] {
            resize: vertical;
        }

        &[data-hx-textarea-resize=both] {
            resize: both;
        }

        &[data-hx-textarea-rows] {
            /* noinspection CssUnresolvedCustomProperty */
            height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * var(--textarea-rows));
        }

        &[data-hx-textarea-rows][data-hx-textarea-max-rows] {
            height: auto;
            /* noinspection CssUnresolvedCustomProperty */
            min-height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * var(--textarea-rows));
        }

        &[data-hx-textarea-max-rows] {
            /* noinspection CssUnresolvedCustomProperty */
            max-height: calc(var(--hx-textarea-non-content-height) + var(--hx-textarea-line-height) * var(--textarea-max-rows));
        }

        &:not(:empty) {
            + span[data-hx-textarea-placeholder] {
                display: none;
            }
        }
    }

    > span[data-hx-textarea-placeholder] {
        font-family: var(--hx-textarea-font-family), system-ui;
        font-size: var(--hx-textarea-font-size);
        font-weight: var(--hx-textarea-font-weight);
        font-style: var(--hx-textarea-font-style);
        color: var(--hx-textarea-placeholder-color);

        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: var(--hx-textarea-line-height);

        padding: var(--hx-textarea-padding-y) var(--hx-textarea-padding-x);
        padding-inline: var(--hx-textarea-padding-x);
        padding-block: var(--hx-textarea-padding-y);

        outline: none;
        border-width: var(--hx-textarea-border-width);
        border-color: transparent;
        border-style: var(--hx-textarea-border-style);

        pointer-events: none;
    }
}
