div[data-hx-portal-root] div[data-hx-overlay][data-hx-toast] {
    --hx-toast-bar-height: calc(var(--hx-height-100) / 8);

    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-primary);

    > div[data-hx-flex] {
        > div[data-hx-flex]:first-child > span[data-hx-label] > svg {
            width: var(--hx-line-height-100);
            height: var(--hx-line-height-100);
        }

        > div[data-hx-flex][data-hx-toast-dismiss-bar] {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: var(--hx-toast-bar-height);
            opacity: 0.8;

            /*background-color: red;*/
            background: repeating-linear-gradient(
                    67.5deg,
                    var(--hx-scoped-toast-dismiss-bar-color) 10px,
                    transparent,
                    transparent 5px,
                    var(--hx-scoped-toast-dismiss-bar-color) 20px
            ),
            linear-gradient(45deg, #ffffff, #f0f0f0);

            transition-property: width;
            transition-timing-function: linear;

            &[data-hx-color] {
                &[data-hx-color=primary] {
                    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-primary);
                }

                &[data-hx-color=info] {
                    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-info);
                }

                &[data-hx-color=warn] {
                    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-warn);
                }

                &[data-hx-color=success] {
                    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-success);
                }

                &[data-hx-color=danger] {
                    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-danger);
                }

                &[data-hx-color=waive] {
                    --hx-scoped-toast-dismiss-bar-color: var(--hx-color-waive);
                }
            }

            &[data-hx-toast-dismiss] {
                width: 0;
            }
        }
    }
}
