div[data-hx-root] div[data-hx-upload],
div[data-hx-portal-root] div[data-hx-upload] {
    --hx-upload-color: var(--hx-text-color);
    --hx-upload-disabled-text-color: var(--hx-disabled-text-color);
    --hx-upload-background-color: var(--hx-background-color);
    --hx-upload-disabled-background-color: var(--hx-disabled-background-color);
    --hx-upload-border-width: var(--hx-border-width-1);
    --hx-upload-border-color: var(--hx-border-color-light);
    --hx-upload-disabled-border-color: var(--hx-disabled-border-color);
    --hx-upload-border-style: solid;
    --hx-upload-hover-border-style: dashed;
    --hx-upload-border-radius: var(--hx-border-radius-container);
    --hx-upload-transition: var(--hx-transition-all);
    --hx-upload-dnd-icon-size: 40px;
    --hx-upload-dnd-icon-color: var(--hx-primary-color);
    --hx-upload-dnd-desc-color: var(--hx-assistant-color);
    --hx-upload-gallery-block-size: 100px;
    --hx-upload-gallery-block-gap: var(--hx-gap-x-12);
    --hx-upload-gallery-block-inner-gap: var(--hx-padding-x-8);
    --hx-upload-gallery-file-icon-color: color-mix(in srgb, var(--hx-primary-color) 20%, white);
    --hx-upload-gallery-error-margin: var(--hx-margin-x-4);
    --hx-upload-gallery-error-color: var(--hx-danger-color);
    --hx-upload-gallery-action-color: var(--hx-backdrop-contrast-color);
    --hx-upload-gallery-action-background-color: var(--hx-backdrop-background-color-dark);
    --hx-upload-gallery-action-transition: var(--hx-transition-all);
    --hx-upload-gallery-icon-size: 24px;
    --hx-upload-file-border-radius: var(--hx-border-radius-4);
    --hx-upload-file-hover-background-color: var(--hx-hover-background-color);
    --hx-upload-file-size-font-size: 0.7em;
    --hx-upload-file-size-color: var(--hx-assistant-color);
    --hx-upload-file-uploading-icon-size: 12px;
    --hx-upload-percentage-bar-height: 2px;
    --hx-upload-percentage-bar-color: var(--hx-primary-hover-color);
    --hx-upload-percentage-bar-transition: var(--hx-transition-width);

    --hx-scoped-color: var(--hx-upload-color);
    --hx-scoped-background-color: var(--hx-upload-background-color);
    --hx-scoped-border-color: var(--hx-upload-border-color);

    &:not([data-hx-visible=no]) {
        display: flex;
    }

    flex-direction: column;
    overflow: hidden;
    transition: var(--hx-upload-transition);

    &[data-hx-upload-variant=button],
    &[data-hx-upload-variant=dnd] {
        > div[data-hx-upload-files] {
            display: flex;
            flex-direction: column;

            > div[data-hx-upload-file] {
                display: grid;
                grid-template-columns: auto 1fr auto;
                align-self: stretch;
                column-gap: var(--hx-gap-x-8);
                border-radius: var(--hx-upload-file-border-radius);

                &:hover {
                    background-color: var(--hx-upload-file-hover-background-color);
                }

                > span[data-hx-upload-file-details] {
                    display: flex;
                    column-gap: var(--hx-gap-x-4);

                    padding-top: 0;
                    padding-block-start: 0;
                    padding-bottom: 0;
                    padding-block-end: 0;

                    > span {
                        padding-top: 0;
                        padding-block-start: 0;
                        padding-bottom: 0;
                        padding-block-end: 0;

                        &[data-hx-upload-file-name] {
                            min-width: 0;

                            > span {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        &[data-hx-upload-file-ext-name] {
                            min-width: min-content;
                            margin-left: calc(var(--hx-gap-x-4) * -1);
                            margin-inline-start: calc(var(--hx-gap-x-4) * -1);
                        }

                        &[data-hx-upload-file-size] {
                            min-width: min-content;
                            font-size: var(--hx-upload-file-size-font-size);
                            color: var(--hx-upload-file-size-color);
                        }
                    }
                }

                > span[data-hx-upload-file-action] {
                    min-width: min-content;

                    > span > svg[data-hx-upload-file-uploading] {
                        width: var(--hx-upload-file-uploading-icon-size);
                        height: var(--hx-upload-file-uploading-icon-size);
                    }

                    > span, > button {
                        padding: 0;
                        padding-block: 0;
                        padding-inline: 0;
                        width: var(--hx-one-line-height);
                        min-height: unset;
                        height: var(--hx-one-line-height);
                        justify-content: center;
                    }

                    > button:not(:hover):not(:focus):not(:active) {
                        background-color: transparent;
                    }
                }

                > span[data-hx-upload-file-error-msg] {
                    grid-column: 2;
                    color: var(--hx-danger-color);
                }

                > div[data-hx-upload-file-percentage] {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    /* noinspection CssUnresolvedCustomProperty */
                    width: calc(var(--upload-file-percentage-width) / 100 * 100%);
                    height: var(--hx-upload-percentage-bar-height);
                    border-radius: calc(var(--hx-upload-percentage-bar-height) / 2);
                    background-color: var(--hx-upload-percentage-bar-color);
                    transition: var(--hx-upload-percentage-bar-transition);
                }
            }
        }
    }

    &[data-hx-upload-variant=button] {
        > input[data-hx-upload] {
            display: none;
        }

        > span[data-hx-upload-error-msg] {
            color: var(--hx-danger-color);
        }

        > button[data-hx-upload-trigger] {
            align-self: start
        }
    }

    &[data-hx-upload-variant=dnd] {
        color: var(--hx-scoped-color);
        background-color: var(--hx-scoped-background-color);

        border-width: var(--hx-upload-border-width);
        border-color: var(--hx-scoped-border-color);
        border-style: var(--hx-upload-border-style);
        border-radius: var(--hx-upload-border-radius);

        &:hover {
            border-style: var(--hx-upload-hover-border-style);
        }

        &[data-hx-upload-color] {
            &[data-hx-upload-color=primary] {
                --hx-scoped-color: var(--hx-primary-color);

                &:hover {
                    --hx-scoped-color: var(--hx-primary-hover-color);
                    --hx-scoped-border-color: var(--hx-primary-hover-border-color);
                }
            }

            &[data-hx-upload-color=success] {
                --hx-scoped-color: var(--hx-success-color);

                &:hover {
                    --hx-scoped-color: var(--hx-success-hover-color);
                    --hx-scoped-border-color: var(--hx-success-hover-border-color);
                }
            }

            &[data-hx-upload-color=info] {
                --hx-scoped-color: var(--hx-info-color);

                &:hover {
                    --hx-scoped-color: var(--hx-info-hover-color);
                    --hx-scoped-border-color: var(--hx-info-hover-border-color);
                }
            }

            &[data-hx-upload-color=warn] {
                --hx-scoped-color: var(--hx-warn-color);

                &:hover {
                    --hx-scoped-color: var(--hx-warn-hover-color);
                    --hx-scoped-border-color: var(--hx-warn-hover-border-color);
                }
            }

            &[data-hx-upload-color=danger] {
                --hx-scoped-color: var(--hx-danger-color);

                &:hover {
                    --hx-scoped-color: var(--hx-danger-hover-color);
                    --hx-scoped-border-color: var(--hx-danger-hover-border-color);
                }
            }

            &[data-hx-upload-color=waive] {
                --hx-scoped-color: var(--hx-waive-color);

                &:hover {
                    --hx-scoped-color: var(--hx-waive-hover-color);
                    --hx-scoped-border-color: var(--hx-waive-hover-border-color);
                }
            }
        }

        &[data-hx-disabled],
            /* double attribute to get higher priority */
        &[data-hx-disabled][data-hx-upload-color][data-hx-upload-color] {
            --hx-scoped-background-color: var(--hx-upload-disabled-background-color);
            --hx-scoped-border-color: var(--hx-upload-disabled-border-color);
            cursor: not-allowed;

            &:hover {
                border-style: var(--hx-upload-border-style);
            }

            input[type=file] {
                cursor: not-allowed;
            }
        }

        > div[data-hx-upload-trigger=dnd] {
            cursor: pointer;

            &[data-hx-disabled],
                /* double attribute to get higher priority */
            &[data-hx-disabled][data-hx-upload-color][data-hx-upload-color] {
                --hx-scoped-color: var(--hx-disabled-text-color);
                cursor: not-allowed;
            }

            > input[data-hx-upload] {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 1;
                cursor: pointer;
            }

            > span[data-hx-label] {
                cursor: inherit;

                &[data-hx-upload-dnd-desc] {
                    color: var(--hx-upload-dnd-desc-color);
                }

                > svg {
                    width: var(--hx-upload-dnd-icon-size);
                    height: var(--hx-upload-dnd-icon-size);
                    color: var(--hx-scoped-color);
                }
            }

            > span[data-hx-upload-error-msg] {
                color: var(--hx-danger-color);
            }
        }

        > div[data-hx-upload-dnd-bottom-border] {
            display: block;
            left: 5%;
            width: 90%;
            background-color: transparent;
            border-bottom-color: var(--hx-scoped-border-color);
            border-block-end-color: var(--hx-scoped-border-color);
            border-bottom-style: var(--hx-upload-hover-border-style);
            border-block-end-style: var(--hx-upload-hover-border-style);
            border-bottom-width: var(--hx-upload-border-width);
            border-block-end-width: var(--hx-upload-border-width);
            transition: var(--hx-upload-transition);
        }
    }

    &[data-hx-upload-variant=gallery] {
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: var(--hx-upload-gallery-block-gap);
        column-gap: var(--hx-upload-gallery-block-gap);

        > input[data-hx-upload] {
            display: none;
        }

        > div[data-hx-upload-file] {
            display: flex;
            align-content: center;
            justify-content: center;

            width: var(--hx-upload-gallery-block-size);
            height: var(--hx-upload-gallery-block-size);
            padding: var(--hx-upload-gallery-block-inner-gap);
            padding-block: var(--hx-upload-gallery-block-inner-gap);
            padding-inline: var(--hx-upload-gallery-block-inner-gap);

            color: var(--hx-scoped-color);
            background-color: var(--hx-scoped-background-color);

            border-width: var(--hx-upload-border-width);
            border-color: var(--hx-scoped-border-color);
            border-style: var(--hx-upload-border-style);
            border-radius: var(--hx-upload-border-radius);

            overflow: hidden;

            &:not(:hover) {
                > span[data-hx-upload-file-action=uploaded] {
                    opacity: 0;
                    pointer-events: none;
                }
            }

            &:hover {
                > span[data-hx-upload-file-action=uploaded] {
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            > div[data-hx-upload-file-thumbnail] {
                align-self: stretch;
                align-content: center;
                width: 100%;
                height: 100%;
                border-radius: var(--hx-upload-border-radius);

                > span {
                    width: 100%;
                    height: 100%;

                    > svg {
                        width: 100%;
                        height: 100%;
                        opacity: 0.2;
                        @supports (color: color-mix(in srgb, red, white)) {
                            color: var(--hx-upload-gallery-file-icon-color);
                            opacity: 1;
                        }
                    }
                }

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            > span[data-hx-upload-file-error-msg] {
                align-self: start;
                margin: 0 var(--hx-upload-gallery-error-margin);
                margin-inline: var(--hx-upload-gallery-error-margin);
                color: var(--hx-upload-gallery-error-color);
            }

            > span[data-hx-upload-file-action] {
                display: flex;
                position: absolute;
                background-color: var(--hx-upload-gallery-action-background-color);
                top: 0;
                left: 0;
                width: calc(100% - var(--hx-upload-gallery-block-inner-gap) * 2);
                height: calc(100% - var(--hx-upload-gallery-block-inner-gap) * 2);
                border-radius: var(--hx-upload-border-radius);
                margin: var(--hx-upload-gallery-block-inner-gap);
                margin-block: var(--hx-upload-gallery-block-inner-gap);
                margin-inline: var(--hx-upload-gallery-block-inner-gap);

                align-items: center;
                justify-content: center;

                transition: var(--hx-upload-gallery-action-transition);

                &[data-hx-upload-file-action=uploading] {
                    background-color: transparent;
                }

                &[data-hx-upload-file-action=uploaded] {
                    > button:not(:hover):not(:focus):not(:active) {
                        background-color: transparent;

                        > svg {
                            color: var(--hx-upload-gallery-action-color);
                        }
                    }
                }

                &[data-hx-upload-file-action=upload-failed] {
                    flex-wrap: wrap;
                    align-content: end;
                    background-color: transparent;

                    > button:not(:hover):not(:focus):not(:active) {
                        background-color: transparent;
                    }
                }

                > span {
                    justify-content: center;
                    width: var(--hx-one-height);

                    > svg[data-hx-upload-file-uploading] {
                        width: var(--hx-upload-file-uploading-icon-size);
                        height: var(--hx-upload-file-uploading-icon-size);
                    }
                }

                > button {
                    padding: 0;
                    padding-block: 0;
                    padding-inline: 0;
                    width: var(--hx-one-height);
                    height: var(--hx-one-height);
                    border-radius: var(--hx-border-radius-10);
                    justify-content: center;

                    > svg {
                        width: calc(var(--hx-one-line-height) * 0.8);
                        height: calc(var(--hx-one-line-height) * 0.8);
                    }
                }
            }

            > div[data-hx-upload-file-percentage] {
                position: absolute;
                bottom: calc(var(--hx-upload-gallery-block-inner-gap) * 2);
                left: 0;
                margin: 0 var(--hx-upload-gallery-block-inner-gap);
                margin-inline: var(--hx-upload-gallery-block-inner-gap);
                /* noinspection CssUnresolvedCustomProperty */
                width: calc(var(--upload-file-percentage-width) / 100 * (100% - var(--hx-upload-gallery-block-inner-gap) * 2));
                height: var(--hx-upload-percentage-bar-height);
                border-radius: calc(var(--hx-upload-percentage-bar-height) / 2);
                background-color: var(--hx-upload-percentage-bar-color);
                transition: var(--hx-upload-percentage-bar-transition);
            }
        }

        > div[data-hx-upload-trigger=gallery] {
            display: flex;
            flex-direction: column;

            width: var(--hx-upload-gallery-block-size);
            height: var(--hx-upload-gallery-block-size);

            color: var(--hx-scoped-color);
            background-color: var(--hx-scoped-background-color);

            border-width: var(--hx-upload-border-width);
            border-color: var(--hx-scoped-border-color);
            border-style: var(--hx-upload-border-style);
            border-radius: var(--hx-upload-border-radius);

            cursor: pointer;

            &:hover {
                border-style: var(--hx-upload-hover-border-style);
            }

            &[data-hx-upload-color] {
                &[data-hx-upload-color=primary] {
                    --hx-scoped-color: var(--hx-primary-color);
                    --hx-scoped-border-color: var(--hx-primary-border-color);

                    &:hover {
                        --hx-scoped-color: var(--hx-primary-hover-color);
                        --hx-scoped-border-color: var(--hx-primary-hover-border-color);
                    }
                }

                &[data-hx-upload-color=success] {
                    --hx-scoped-color: var(--hx-success-color);
                    --hx-scoped-border-color: var(--hx-success-border-color);

                    &:hover {
                        --hx-scoped-color: var(--hx-success-hover-color);
                        --hx-scoped-border-color: var(--hx-success-hover-border-color);
                    }
                }

                &[data-hx-upload-color=info] {
                    --hx-scoped-color: var(--hx-info-color);
                    --hx-scoped-border-color: var(--hx-info-border-color);

                    &:hover {
                        --hx-scoped-color: var(--hx-info-hover-color);
                        --hx-scoped-border-color: var(--hx-info-hover-border-color);
                    }
                }

                &[data-hx-upload-color=warn] {
                    --hx-scoped-color: var(--hx-warn-color);
                    --hx-scoped-border-color: var(--hx-warn-border-color);

                    &:hover {
                        --hx-scoped-color: var(--hx-warn-hover-color);
                        --hx-scoped-border-color: var(--hx-warn-hover-border-color);
                    }
                }

                &[data-hx-upload-color=danger] {
                    --hx-scoped-color: var(--hx-danger-color);
                    --hx-scoped-border-color: var(--hx-danger-border-color);

                    &:hover {
                        --hx-scoped-color: var(--hx-danger-hover-color);
                        --hx-scoped-border-color: var(--hx-danger-hover-border-color);
                    }
                }

                &[data-hx-upload-color=waive] {
                    --hx-scoped-color: var(--hx-waive-color);
                    --hx-scoped-border-color: var(--hx-waive-border-color);

                    &:hover {
                        --hx-scoped-color: var(--hx-waive-hover-color);
                        --hx-scoped-border-color: var(--hx-waive-hover-border-color);
                    }
                }
            }

            &[data-hx-disabled],
                /* double attribute to get higher priority */
            &[data-hx-disabled][data-hx-upload-color][data-hx-upload-color] {
                --hx-scoped-color: var(--hx-upload-disabled-text-color);
                --hx-scoped-border-color: var(--hx-upload-disabled-border-color);

                color: var(--hx-disabled-text-color);
                background-color: var(--hx-disabled-background-color);
                cursor: not-allowed;

                &:hover {
                    border-style: var(--hx-upload-border-style);
                }
            }

            > span[data-hx-label] {
                cursor: inherit;
                color: inherit;

                > svg {
                    width: var(--hx-upload-gallery-icon-size);
                    height: var(--hx-upload-gallery-icon-size);
                }
            }
        }

        > span[data-hx-upload-error-msg] {
            color: var(--hx-danger-color);
        }
    }
}

div[data-hx-portal-root] > div[data-hx-upload-preview-backdrop] {
    --hx-upload-preview-backdrop-background-color: var(--hx-backdrop-background-color-dark);

    position: fixed;
    background-color: var(--hx-upload-preview-backdrop-background-color);
    opacity: 0.5;
    @supports (color: color-mix(in srgb, red, white)) {
        background-color: color-mix(in srgb, var(--hx-upload-preview-backdrop-background-color) 50%, white);
        opacity: 1;
    }

    /* noinspection CssUnresolvedCustomProperty */
    top: var(--upload-preview-backdrop-top, 0);
    /* noinspection CssUnresolvedCustomProperty */
    left: var(--upload-preview-backdrop-left, 0);
    /* noinspection CssUnresolvedCustomProperty */
    width: var(--upload-preview-backdrop-width, 0);
    /* noinspection CssUnresolvedCustomProperty */
    height: var(--upload-preview-backdrop-height, 0);

    pointer-events: auto;
    overflow: hidden;

    transition: var(--hx-transition-top), var(--hx-transition-left), var(--hx-transition-height), var(--hx-transition-width), var(--hx-transition-opacity);

    &[data-hx-upload-preview-state=prepare],
    &[data-hx-upload-preview-state=prepare] + div[data-hx-upload-preview-content],
    &[data-hx-upload-preview-state=prepare] + div[data-hx-upload-preview-content] > div[data-hx-button-bar] {
        opacity: 0.3;
    }

    &[data-hx-upload-preview-state=active],
    &[data-hx-upload-preview-state=active] + div[data-hx-upload-preview-content] {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    &[data-hx-upload-preview-state=hide],
    &[data-hx-upload-preview-state=hide] + div[data-hx-upload-preview-content],
    &[data-hx-upload-preview-state=hide] + div[data-hx-upload-preview-content] > div[data-hx-button-bar] {
        opacity: 0.3;
    }

    + div[data-hx-upload-preview-content] {
        --hx-upload-preview-backdrop-action-color: var(--hx-primary-contrast-color);
        --hx-upload-preview-backdrop-action-background-color: var(--hx-backdrop-background-color-dark);
        --hx-upload-preview-backdrop-action-size: var(--hx-one-height);
        --hx-upload-preview-backdrop-action-icon-size: calc(var(--hx-one-height) / 5 * 3);

        display: flex;
        position: fixed;
        justify-content: center;
        /* noinspection CssUnresolvedCustomProperty */
        top: var(--upload-preview-backdrop-top, 0);
        /* noinspection CssUnresolvedCustomProperty */
        left: var(--upload-preview-backdrop-left, 0);
        /* noinspection CssUnresolvedCustomProperty */
        width: var(--upload-preview-backdrop-width, 0);
        /* noinspection CssUnresolvedCustomProperty */
        height: var(--upload-preview-backdrop-height, 0);

        transition: var(--hx-transition-top), var(--hx-transition-left), var(--hx-transition-height), var(--hx-transition-width), var(--hx-transition-opacity);

        pointer-events: auto;
        overflow: hidden;

        > div[data-hx-upload-preview-rect] {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            align-items: center;
            justify-content: center;

            overflow: auto;

            > div {
                /* noinspection CssUnresolvedCustomProperty */
                width: calc(min(50cqi, 60cqb) * var(--upload-preview-image-ratio, 1));
                /* noinspection CssUnresolvedCustomProperty */
                height: calc(min(50cqi, 60cqb) * var(--upload-preview-image-ratio, 1));

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        > div[data-hx-button-bar] {
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            margin-bottom: min(10vh, var(--hx-margin-y-32));
            margin-block-end: min(10vh, var(--hx-margin-y-32));

            background-color: var(--hx-upload-preview-backdrop-action-background-color);
            border-radius: calc((var(--hx-scoped-padding-t) + var(--hx-scoped-padding-b) + var(--hx-upload-preview-backdrop-action-size)) / 2);

            transition: var(--hx-transition-opacity);

            > div[data-hx-flex] {
                background-color: transparent;

                > button {
                    color: var(--hx-upload-preview-backdrop-action-color);
                    width: var(--hx-upload-preview-backdrop-action-size);
                    height: var(--hx-upload-preview-backdrop-action-size);
                    padding: 0;
                    padding-block: 0;
                    padding-inline: 0;
                    border-radius: var(--hx-upload-preview-backdrop-action-size);

                    > svg {
                        width: var(--hx-upload-preview-backdrop-action-icon-size);
                        height: var(--hx-upload-preview-backdrop-action-icon-size);
                    }
                }

                > button:not(:hover):not(:focus):not(:active) {
                    background-color: transparent;
                }
            }
        }
    }
}