div[data-hx-root],
div[data-hx-portal-root] {
    /* colors */
    --hx-primary-color: #3b82f6;
    --hx-primary-hover-color: #60a5fa;
    --hx-primary-focus-color: #2563eb;
    --hx-primary-disabled-color: #7c8a9a;
    --hx-primary-contrast-color: #ffffff;
    --hx-primary-border-color: #3b82f680;
    --hx-primary-hover-border-color: #60a5fa5e;
    --hx-primary-focus-border-color: #2563ebb0;

    --hx-success-color: #10b981;
    --hx-success-hover-color: #34d399;
    --hx-success-focus-color: #0d966e;
    --hx-success-disabled-color: #7a8c86;
    --hx-success-contrast-color: #ffffff;
    --hx-success-border-color: #10b98180;
    --hx-success-hover-border-color: #34d3995e;
    --hx-success-focus-border-color: #0d966eb0;

    --hx-danger-color: #ef4444;
    --hx-danger-hover-color: #f87171;
    --hx-danger-focus-color: #dc2626;
    --hx-danger-disabled-color: #a08a8a;
    --hx-danger-contrast-color: #ffffff;
    --hx-danger-border-color: #ef444480;
    --hx-danger-hover-border-color: #f871715e;
    --hx-danger-focus-border-color: #dc2626b0;

    --hx-warn-color: #f59e0b;
    --hx-warn-hover-color: #fbbf24;
    --hx-warn-focus-color: #d97706;
    --hx-warn-disabled-color: #9c8f70;
    --hx-warn-contrast-color: #ffffff;
    --hx-warn-border-color: #f59e0b80;
    --hx-warn-hover-border-color: #fbbf245e;
    --hx-warn-focus-border-color: #d97706b0;

    --hx-info-color: #06b6d4;
    --hx-info-hover-color: #22d3ee;
    --hx-info-focus-color: #0891b2;
    --hx-info-disabled-color: #7a9095;
    --hx-info-contrast-color: #ffffff;
    --hx-info-border-color: #06b6d480;
    --hx-info-hover-border-color: #22d3ee5e;
    --hx-info-focus-border-color: #0891b2b0;

    --hx-waive-color: #6b7280;
    --hx-waive-hover-color: #9ca3af;
    --hx-waive-focus-color: #4b5563;
    --hx-waive-disabled-color: #9ca3af;
    --hx-waive-contrast-color: #ffffff;
    --hx-waive-border-color: #6b728080;
    --hx-waive-hover-border-color: #9ca3af5e;
    --hx-waive-focus-border-color: #4b5563b0;

    --hx-text-color: #333333;
    --hx-disabled-text-color: #b8b8b8;
    --hx-readonly-text-color: #9a9a9a;
    --hx-background-color: #fdfdfd;
    --hx-disabled-background-color: #f0f0f0;
    --hx-readonly-background-color: #f5f5f5;

    /** fonts*/
    --hx-font-family: Untitled Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --hx-font-size-sm: 14px;
    --hx-font-size-xs: 12px;
    --hx-font-weight: 400;
    --hx-font-style: normal;

    /** height */
    --hx-one-height: 32px;
    --hx-08-height: calc(var(--hx-one-height) * 0.8);
    --hx-multi-lines-line-height: 1.4;
    /*--hx-line-height: 1.6;*/

    /** padding */
    --hx-text-padding-y-0: 0;
    --hx-text-padding-y-4: 4px;
    --hx-text-padding-x-8: 8px;
    --hx-text-padding-x-0: 0;
    --hx-text-padding-x-16: 16px;

    /** borders */
    --hx-border-radius-0: 0;
    --hx-border-radius-2: 2px;
    --hx-border-radius-4: 4px;
    --hx-border-radius-8: 8px;
    --hx-border-width-0: 0;
    --hx-border-width-1: 1px;
    --hx-border-color: #00000080;
    --hx-hover-border-color: #0066ff5e;
    --hx-focus-border-color: #3e63ddb0;
    --hx-disabled-border-color: #0000004d;
    --hx-readonly-border-color: #00000033;

    /** flex/grid */
    --hx-gap-x-0: 0;
    --hx-gap-x-4: 4px;
    --hx-gap-x-8: 8px;
    --hx-gap-x-12: 12px;
    --hx-gap-x-16: 16px;
    --hx-gap-x-20: 20px;
    --hx-gap-x-24: 24px;
    --hx-gap-x-28: 28px;
    --hx-gap-x-32: 32px;
    --hx-gap-y-0: 0;
    --hx-gap-y-4: 4px;
    --hx-gap-y-8: 8px;
    --hx-gap-y-12: 12px;
    --hx-gap-y-16: 16px;
    --hx-gap-y-20: 20px;
    --hx-gap-y-24: 24px;
    --hx-gap-y-28: 28px;
    --hx-gap-y-32: 32px;

    /** animation */
    --hx-transition-all: all 0.3s ease-in-out;

    input[data-hx-input] {
        /** input, aka text field */
        --hx-input-color: var(--hx-text-color);
        --hx-input-disabled-text-color: var(--hx-disabled-text-color);
        --hx-input-readonly-text-color: var(--hx-readonly-text-color);
        --hx-input-background-color: var(--hx-background-color);
        --hx-input-disabled-background-color: var(--hx-disabled-background-color);
        --hx-input-readonly-background-color: var(--hx-readonly-background-color);
        --hx-input-font-family: var(--hx-font-family);
        --hx-input-font-size: var(--hx-font-size-sm);
        --hx-input-font-weight: var(--hx-font-weight);
        --hx-input-font-style: var(--hx-font-style);
        --hx-input-height: var(--hx-one-height);
        --hx-input-line-height: 1em;
        --hx-input-padding-y: var(--hx-text-padding-y-4);
        --hx-input-padding-x: var(--hx-text-padding-x-8);
        --hx-input-border-width: var(--hx-border-width-1);
        --hx-input-border-color: var(--hx-border-color);
        --hx-input-border-style: solid;
        --hx-input-border-radius: var(--hx-border-radius-4);
        --hx-input-hover-border-color: var(--hx-hover-border-color);
        --hx-input-focus-border-color: var(--hx-focus-border-color);
        --hx-input-disabled-border-color: var(--hx-disabled-border-color);
        --hx-input-readonly-border-color: var(--hx-readonly-border-color);
        --hx-input-transition: var(--hx-transition-all);
    }

    button[data-hx-button] {
        --hx-button-color: var(--hx-text-color);
        --hx-button-disabled-text-color: var(--hx-disabled-text-color);
        --hx-button-background-color: var(--hx-background-color);
        --hx-button-disabled-background-color: var(--hx-disabled-background-color);
        --hx-button-font-family: var(--hx-font-family);
        --hx-button-font-size: var(--hx-font-size-sm);
        --hx-button-font-weight: var(--hx-font-weight);
        --hx-button-font-style: var(--hx-font-style);
        --hx-button-text-transform: uppercase;
        --hx-button-height: var(--hx-one-height);
        --hx-button-line-height: 1em;
        --hx-button-padding-y: calc(var(--hx-text-padding-y-4) - var(--hx-border-width-1));
        --hx-button-padding-x: var(--hx-text-padding-x-16);
        --hx-button-border-width: var(--hx-border-width-1);
        --hx-button-border-color: var(--hx-border-color);
        --hx-button-border-style: solid;
        --hx-button-border-radius: var(--hx-border-radius-4);
        --hx-button-hover-border-color: var(--hx-hover-border-color);
        --hx-button-focus-border-color: var(--hx-focus-border-color);
        --hx-button-disabled-border-color: var(--hx-disabled-border-color);
        --hx-button-transition: var(--hx-transition-all);
    }

    span[data-hx-label] {
        --hx-label-color: var(--hx-text-color);
        --hx-label-font-family: var(--hx-font-family);
        --hx-label-font-size: var(--hx-font-size-sm);
        --hx-label-font-weight: var(--hx-font-weight);
        --hx-label-font-style: var(--hx-font-style);
        --hx-label-height: var(--hx-one-height);
        --hx-label-line-height: 1em;
        --hx-label-padding-y: var(--hx-text-padding-y-4);
        --hx-label-padding-x: var(--hx-text-padding-x-0);
    }

    div[data-hx-with-check] {
        > span[data-hx-label-role=with-check-msg] {
            --hx-wcm-label-font-size: var(--hx-font-size-xs);
            --hx-wcm-label-min-height: var(--hx-08-height);
            --hx-wcm-label-line-height: var(--hx-multi-lines-line-height);
            --hx-wcm-label-padding-y: var(--hx-text-padding-y-4);
            --hx-wcm-label-padding-x: var(--hx-text-padding-x-0);
        }
    }

    div[data-hx-flex] {
        --hx-flex-gap-x-none: var(--hx-gap-x-0);
        --hx-flex-gap-x-sm: var(--hx-gap-x-8);
        --hx-flex-gap-x-md: var(--hx-gap-x-24);
        --hx-flex-gap-x-lg: var(--hx-gap-x-32);
        --hx-flex-gap-x: var(--hx-gap-x-24);
        --hx-flex-gap-y-none: var(--hx-gap-y-0);
        --hx-flex-gap-y-sm: var(--hx-gap-y-4);
        --hx-flex-gap-y-md: var(--hx-gap-y-8);
        --hx-flex-gap-y-lg: var(--hx-gap-y-16);
        --hx-flex-gap-y: var(--hx-gap-y-0);
        --hx-flex-background-color: var(--hx-background-color);
        --hx-flex-padding-y: var(--hx-text-padding-y-0);
        --hx-flex-padding-x: var(--hx-text-padding-x-0);
        --hx-flex-border-width-none: var(--hx-border-width-0);
        --hx-flex-border-width: var(--hx-border-width-1);
        --hx-flex-border-color: var(--hx-border-color);
        --hx-flex-border-style: solid;
        --hx-flex-border-radius-none: var(--hx-border-radius-0);
        --hx-flex-border-radius-sm: var(--hx-border-radius-2);
        --hx-flex-border-radius-md: var(--hx-border-radius-4);
        --hx-flex-border-radius-lg: var(--hx-border-radius-8);
        --hx-flex-border-radius: var(--hx-border-radius-4);
        --hx-flex-transition: var(--hx-transition-all);
    }
}
