div[data-hx-root] div[data-hx-with-check],
div[data-hx-portal-root] div[data-hx-with-check] {
    display: flex;
    flex-direction: column;

    > *:first-child {
        width: 100%;
    }

    > span[data-hx-label-role=with-check-msg] {
        font-size: var(--hx-wcm-label-font-size);

        min-height: var(--hx-wcm-label-min-height);
        height: auto;
        line-height: var(--hx-wcm-label-line-height);
        padding: var(--hx-wcm-label-padding-y) var(--hx-wcm-label-padding-x);
    }
}
