div[data-hx-root] div[data-hx-with-check] {
    display: flex;
    flex-direction: column;

    > span[data-hx-label-role=with-check-msg] {
        font-size: var(--hx-fwc-label-font-size);

        height: var(--hx-fwc-label-height);

        z-index: -1;
    }
}
