div[data-hx-root] div[data-hx-with-check],
div[data-hx-portal-root] div[data-hx-with-check] {
    display: flex;
    flex-direction: column;

    > *:first-child {
        width: 100%;
    }

    > span[data-hx-label][data-hx-label-role=check-msg] {
        --hx-wcm-label-font-size: var(--hx-font-size-xs);
        --hx-wcm-label-min-height: var(--hx-08-height);
        --hx-wcm-label-line-height: var(--hx-multi-lines-line-height);
        --hx-wcm-label-padding-y: var(--hx-text-padding-y-atomic);
        --hx-wcm-label-padding-x: var(--hx-text-padding-x-0);

        font-size: var(--hx-wcm-label-font-size);

        min-height: var(--hx-wcm-label-min-height);
        height: auto;
        line-height: var(--hx-wcm-label-line-height);
        padding: var(--hx-wcm-label-padding-y) var(--hx-wcm-label-padding-x);
    }
}
