div[data-hx-root] button[data-hx-button],
div[data-hx-portal-root] button[data-hx-button] {
    &[data-hx-color][data-hx-button-variant=ghost] {
        --hx-color-this-default: var(--hx-color-polychrome-this);
        --hx-bg-color-this-default: var(--hx-bg-color);
        --hx-border-color-this-default: var(--hx-bg-color);

        &:hover,
        &[data-hx-hover],
        &[data-hx-hover]:hover {
            --hx-color-this-default: var(--hx-color-polychrome-contrast-this);
            --hx-bg-color-this-default: var(--hx-color-polychrome-hover-this);
            --hx-border-color-this-default: var(--hx-color-polychrome-hover-this);
        }

        &:focus,
        &:focus:hover,
        &[data-hx-hover]:focus,
        &[data-hx-hover]:focus:hover {
            --hx-color-this-default: var(--hx-color-polychrome-contrast-this);
            --hx-bg-color-this-default: var(--hx-color-polychrome-focus-this);
            --hx-border-color-this-default: var(--hx-color-polychrome-focus-this);
        }
    }
}
