div[data-hx-root] button[data-hx-button],
div[data-hx-portal-root] button[data-hx-button] {
    > svg[data-hx-svg-icon],
    > span[data-hx-label] {
        background-color: inherit;
        color: inherit;
        cursor: inherit;
    }

    > span[data-hx-label] {
        --hx-min-height-this-default: unset;
        --hx-height-this-default: calc(var(--hx-height-100) - var(--hx-border-width-1) * 2);
    }
}
