div[data-hx-root] div[data-hx-select],
div[data-hx-portal-root] div[data-hx-select] {
    &:focus,
    &:focus-within,
    &:focus:hover,
    &:focus-within:hover,
    &[data-hx-focus],
    &[data-hx-focus]:hover {
        --hx-border-color-this-default: var(--hx-border-color-focus);

        > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=caret-down] {
            --hx-color-this-default: var(--hx-border-color-focus);
        }

        > button[data-hx-color][data-hx-button-variant][data-hx-select-icon=clear] {
            --hx-color-this-default: var(--hx-color-focus-danger);

            opacity: 1;
        }
    }
}
