div[data-hx-portal-root] div[data-hx-popup] {
    &[data-hx-popup-for-select] {
        > div[data-hx-select-options] {
            --hx-display-this-default: flex;
            flex-direction: column;
            overflow: scroll;

            > span[data-hx-label] {
                flex-shrink: 0;

                &[data-hx-select-option] {
                    &[data-hx-disabled] {
                        > span[data-hx-label] {
                            color: inherit;
                            background-color: inherit;
                        }
                    }

                    > span[data-hx-label] {
                        cursor: inherit;
                    }
                }

                &:not([data-hx-select-option]):not(:first-child) {
                    display: none;
                }
            }
        }
    }
}
