div[data-hx-root] span[data-hx-label][data-hx-badge],
div[data-hx-portal-root] span[data-hx-label][data-hx-badge] {
    &[data-hx-badge-size=sm] {
    }

    &[data-hx-badge-size=std] {
        --hx-font-size-this-default: var(--hx-font-size-sm);
        --hx-min-height-this-default: var(--hx-height-100);
        --hx-height-this-default: var(--hx-height-100);
        --hx-line-height-this-default: var(--hx-line-height-100);
    }
}
